meta(charset="UTF-8")
meta(name="viewport" content="width=device-width")

script(src="/vendor/jquery.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
script(src="/vendor/react-15.1.0/build/react.js")
script(src="/vendor/react-15.1.0/build/react-dom.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
script(src="/vendor/moment.min.js")
script(type="text/javascript", src="/vendor/async.min.js")

// Custom
script(src="/js/AppException.js", type="text/babel")

// Css
link(rel="stylesheet", type="text/css", href="/css/base.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")