div#CSPhotoSelector
	div.CSPhotoSelector_dialog
		div.CSPhotoSelector_form
			div.CSPhotoSelector_header
				a(href="#", id="CSPhotoSelector_buttonClose") x
				p Choose from Photos

			div.CSPhotoSelector_content.CSAlbumSelector_wrapper
				p Browse your albums to select the photos you want to use
				div.CSPhotoSelector_searchContainer.CSPhotoSelector_clearfix
					div.CSPhotoSelector_selectedCountContainer
						| Select an album / 
						span.CSPhotoSelector_selectedPhotoCount 0
						|  photo(s) selected
				.CSPhotoSelector_photosContainer.CSAlbum_container

			div.CSPhotoSelector_content.CSPhotoSelector_wrapper
				p Select between 10 and 254 images.
				div.CSPhotoSelector_searchContainer.CSPhotoSelector_clearfix
					div.CSPhotoSelector_selectedCountContainer
						span.CSPhotoSelector_selectedPhotoCount 
							| 0
						|  photo(s) selected

				div.CSPhotoSelector_searchContainer.optionsMenu.CSPhotoSelector_clearfix
					a(href="#", id="selectAllPhotos")
						| Select all
					a(href="#", id="CSPhotoSelector_backToAlbums")
						| Back to albums
				div.CSPhotoSelector_photosContainer.CSPhoto_container

			div.CSPhotoSelector_loader

			div.CSPhotoSelector_footer.CSPhotoSelector_clearfix
				a(href="#", id="CSPhotoSelector_pagePrev", class="CSPhotoSelector_disabled") Previous
				a(href="#", id="CSPhotoSelector_pageNext") Next
				div.CSPhotoSelector_pageNumberContainer
					| Page
					span#CSPhotoSelector_pageNumber 1
					| /
					span#CSPhotoSelector_pageNumberTotal 1
				a(href="#", id="CSPhotoSelector_buttonOK") OK
				a(href="#", id="CSPhotoSelector_buttonCancel") Cancel