.site-footer
	div.app-footer
		div.content
			div.footer-item
				p
					span.hidden-xs Suggestions, questions or bugs?
					span.email  Contact: slide.beatz.app@gmail.com
			div.footer-item
				p 
					| © 2016 
					span.hidden-xs Harlei jose vicente filho 
					| - All Rights Reserved
			div.footer-item
				p 
					a(href="/privacy") Privacy policy