div.panel.panel-default
	div.panel-heading
		h4.panel-title Privacy Policy

	div.panel-body#privacy-policy
		p Last Updated: july 1, 2016
		p This Privacy Policy describes how DeeJay ("DeeJay," "We," "Us," or "Our") protects your privacy when you use the Web site located at www.deejayslidez.com (the "Site").
		p PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY ACCESSING OR USING THE SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS DESCRIBED HEREIN AND ALL TERMS AND CONDITIONS INCORPORATED BY REFERENCE. IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS SET FORTH BELOW, YOU MAY NOT USE THE SITE.
		p This Privacy Policy applies to information (including, personal information) collected through the Site. For the purpose of this Privacy Policy, "personal information" means information that identifies you personally, either alone or in combination with other information available to us.
		    
		h4 Deejay`s privacy pledge to you
		ol
			li We are committed to protecting your privacy while allowing you to use the Site.
			li You may add, delete or modify your personal information at any time.
			li Subject to your permission or as specifically stated in this Privacy Policy, we will not sell, exchange or otherwise share your personal information with third parties.
			li We do not send spam, maintain spam mailing lists or support the activities of spammers.
		    
		h4 What personal information we collect on the site and how we collect it
		h5 Active Collection of Information
		p Personal information may be collected in a number of ways when you visit the Site. We may collect certain information that you voluntarily provide to us which may contain personal information. For example, we may collect your name, email address, user name when you use our products or services. 
		p We also collect photos you upload to the Site, which can be seen by visitors with the access link provided to you.
		h5 Passive Collection of Information
		p When you visit the Site, some information may be automatically collected. For example, it is standard for your Web browser to automatically send information to every Web site you visit including ours. Such information includes your computer's Internet Protocol ("IP") address, access times, browser type and language, and referring Web site addresses. We may also collect information about your computer's operating system and information about your usage and activity on the Site.
		h5 Cookies
		p We may automatically collect certain information through the use of "cookies." Cookies are small data files that are stored on your hard drive by a Web site. Among other things, the use of cookies helps us to improve the Site and your experience on the Site. We use cookies to see which areas and features of the Site are most popular, to count the number of computers accessing the Site, to personalize your experience and to remember your preferences. If your browser is set not to accept cookies or if you reject a cookie, you may not be able to access certain features or services of the Sites.


		h4 Storage of information & transfer of data abroad
		p The information we collect is retained by us in our database. If you are visiting the Site from a country other than the country in which our Web servers are located (currently United States) the various communications will necessarily result in the transfer of information across international boundaries. By visiting the Site and communicating electronically with us, you consent to the processing and transfer of your data as set out in this Privacy Policy.
		                                
		h4 How do we use your personal information
		p We use the information collected through the Site: (i) to communicate with you; (ii) to process your requests and transactions; (iii) to improve the Site; (iv) to customize the services and/or products we provide to you; (v) to assist with our product and service development.

		h4 With whom do we share your personal information
		p We do not share information collection through the Site with anyone.

		h4 Your photos
		p When you visit the Site you may upload your photos to the Site so that you may create a slideshow.  You may choose to, at any time, delete the slideshow through the provided link. Once a slideshow is removed, ALL THE IMAGES USED BY THE USER are completely removed.

		h4 Modifying your information (opt-out/opt-in)
		p We respect your right to make choices about the ways we collect, use and disclose your personal information. You may update or modify your information or change your privacy preferences at any time by emailing us at slide.beatz.app@gmail.com.
		                                
		h4 Security of your personal information
		p We take reasonable security measures to protect your personal information (including, preventing the loss, misuse, unauthorized access, disclosure, alteration and destruction of your personal information). Please be aware, however, that despite our efforts, no security measures are impenetrable.                                    

		h4 Choices about use of your information
		p We do not send promotional emails.  You may also send requests relating to uses of your information by sending an email to slide.beatz.app@gmail.com.

		h4 Minors
		p THIS SITE IS NOT MEANT FOR MINORS. We are committed to protecting the privacy needs of children and we encourage parents and guardians to take an active role in their children's online activities and interests. The Site is not intended for and may not be used by children under the age of 13. We do not knowingly collect information from children under the age of 13 and we do not target the Site to children under 13.
		                                
		p We may not intend to collect or solicit information from people who are minors. However, as a condition of use for minors in those countries or regions where information gathering from minors is considered illegal, guardians will be responsible for accompanying minors for prevention of any unexpected circumstances when they access the Site.

		h4 Changes to this privacy policy
		p We may change this Privacy Policy from time-to-time. If we make any changes to this Privacy Policy, we will change the "Last Updated" date above. We encourage you to review this Privacy Policy whenever you visit the Site to understand how your personal information is used.

		h4 Questions
		p If you have any questions about this Privacy Policy, please contact us via the email: slide.beatz.app@gmail.com.

