/*
	Base

*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -110px; 
  padding-top: 90px;
  padding-bottom: 20px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 110px; 
}



/*
	Header
*/
img#logo {
	width: 90px;
}
@media screen and (min-width: 1300px) {
	img#logo {
		margin-left: 60px;
	}
}


/*
	Footer
*/
.app-footer {
	background-color: #444;
	height: 110px;
}
.app-footer .content {
	padding: 20px 0px 20px 85px;
}
.app-footer .content span.email {
}
.app-footer .footer-item {
	color: #ddd;
	font-size: 90%;
}
.app-footer .footer-item p {
	margin-bottom: 5px;
}
.app-footer .footer-item a {
	color: #ddd;
}
.app-footer .footer-item a:hover {
	text-decoration: none;
	color: #ccc;
}
@media screen and (max-width: 1300px) {
	.app-footer .content {
		padding-left: 20px;
	}
}


/*
	Generic
*/
body {
	background-image: url("/images/128-168.jpg");
}
.panel button {
	width: 100%;
}
.panel-footer button {
	margin: 10px 0px 10px;
}