/*
	Choose audio
*/
.youtube-icon {
	height: 25px;
	margin-right: 5px;
}
/*
	Trim audio
*/
	.trim-audio {
		padding-top: 15px;
		border-top: 1px solid #e0e0e0;
		margin: 30px 0px 20px;
	}
	#audio-slider {
		margin: 40px 5px 50px;
	}
/*
	Audio player
*/
	.audio-player{
		margin: 20px 0px 20px;
	}
	.audio-player audio {	
		margin-top: 10px;
		width: 100%;
	}
/*
	Length selected
*/
	#length-form {
		width: 120px;
	}

	.spin-loader {
		width: 60px;
		margin: 10px auto;
	}
	.spin-loader img {
		width: 100%;
	}

/*
	Choose images
*/
#img-src-icons {
	padding-top: 20px;
	margin: 0px 0px 20px;
}
#img-src-icons > button {
	width: 150px;
}


/*
	Overview
*/
.overview {
	padding-bottom: 10px;
}
.overview.confirm {
	padding-top: 20px;
	padding-bottom: 0px;
}
.overview p span {
	margin-right: 10px;
}
.overview .soundtrack-trim-length{
	margin-left: 24px;
}