/*
	Regular blocks
*/
.regular-block {
	width: 100%;
}
.regular-block > .title {
	line-height: 50px;
	font-size: 150%;
	border-bottom: 1px solid #ddd;
	color: #444;
}
.regular-block > .body {
	padding-top: 10px;
	line-height: 35px;
	color: #555;
	font-size: 110%;
}
.regular-block > .body p {
	text-indent: 20px;
}
@media screen and (max-width: 995px) {
	.regular-block {
		margin-bottom: 25px;
	}
}

/*
	Video
*/
.demo-video {
	margin-bottom: 70px;
	height: 315px;
}

/*
	Padding
*/
.home-padding {
	height: 80px;
}

/*
	Mains points
*/
.main-points .clear {
	clear: both;
}
.main-points {
	margin-bottom: 70px;
	height: 285px;
	margin-top: 30px;
}
.main-points .point {
	font-size: 25px;
	color: #555;
	font-weight: bold;
	margin-bottom: 70px;
}
div.main-points .point.build-point > .content{
	float: left;
}
div.main-points .point.build-point span {
	margin-right: 15px;
	margin-bottom: 15px;
}
.main-points .point .create-new-btn {
	max-width: 120px;
	line-height: 33px;
	background-color: #0ca534;
	border: 1px #017e01 solid;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	padding: 0px 15px 0px;
}
@media screen and (max-width: 995px) {
	.main-points {
		height: inherit;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.main-points .point {
		font-size: 20px;
		margin-bottom: 40px;
	}
	.main-points .point .create-new-btn {
		line-height: 28px;
	}	
}

/*
	news
*/
.news-bit {
	margin-bottom: 10px;
}
.news-bit span.glyphicon {
	margin-right: 10px;
}
.news-bit .date {
	font-weight: bold;
}
