/*
	Loading checklist
*/
.loading-checklist {
	line-height: 30px;
}
.loading-checklist span {
	margin-right: 10px;
}
.loading-checklist .loading {
	width: 16px;
	margin-right: 10px;
}


/*
	Debug console
*/
#dev-module {
	position: fixed;
	top: 50%;
	left: 0px;
	width: 30%;
	height: 50%;
	background-color: #474747;
	padding: 15px;
}
#dev-module > div {
	margin-bottom: 10px;
}
#dev-module span.badge {
	margin-left: 10px;
}
#dev-module #title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

/*
	Debug charts
*/
#debugger-chart-panel {
	width: 70%;
	height: 100%;	
	right: 0%;
	top: 0%;
	box-shadow: 0px 0px 2px 2px inset;
	position: fixed;
	padding: 20px;
	background-color: #474747;
	overflow-y: scroll;
}
#debugger-chart-panel .chart {
	height: 200px;
	width: 100%;
	box-shadow: 0px 0px 2px 2px inset;
	margin: 0px 0px 10px;
	background-color: #444;
}
#debugger-chart-panel svg {
	height: 100%;
	width: 100%;
}


/*
	Canvas and player controls
*/
div#canvas_holder {
	height: 100%;
	padding: 0px 0px 40px 0px;
}
div#player-controls {
	height: 40px;
	border-top: 1px solid #b02d2d;
	width: 100%;
	margin: 0px;
	padding: 0px 20px 0px 20px;
	position: fixed;
	bottom: 0px;
	background-color: #000;
}
div#player-controls > span {
	cursor: pointer;
	color: #fff;
	line-height: 40px;
}
div#player-controls > span:hover {
	color: #666;
}
div#player-controls span.command {
	width: 40px;
	font-size: 18px;
}
div#player-controls span.menu {
	float: right;
	margin: 0px 10px 0px 10px;
	font-size: 18px;
}
/*
	Canvas / player controsl in DEBUG MODE
*/
div#playback.debug-mode div#player-controls {
	position: relative;
	bottom: 40px;
}
div#playback.debug-mode {
	width: 30%;
	height: 50%;
}


/*
	Share modal
*/
.social-controls {
	margin: 20px 0px 20px;
	border-top: 1px #eee solid;
	border-bottom: 1px #eee solid;
	padding: 20px 0px 20px;
}
a#slide-options {
	cursor: pointer;
}
a#slide-options:hover {
	text-decoration: none;
}
