#privacy-policy p  {
	text-indent: 10px;
}

#privacy-policy h4 {
	margin-top: 20px;
}

#privacy-policy h5 {
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: 5px;
}

#privacy-policy ol, #privacy-policy p {
	line-height: 23px;
}