mixin slide_modal(slide_uri, slide_remove_page)
  div.modal.fade#slide-share(tabindex="-1", role="dialog", aria-labelledby="slide-share-modal-label")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title#slide-share-modal-label Share this slide
        div.modal-body
          form
            div.form-group
              label(for="slide-link") Anyone with this link will be able to see the slide.
              input.form-control#slide-link(type="text", readonly = "true", value=slide_uri)
          div.social-controls
            button.btn.btn-primary#post-facebook(type="submit") Post on Facebook
          a#slide-options(href=slide_remove_page) Slide configurations 

