html
	head
		// Base head
		include ../base-head.pug

		title Build slide !

		// Js
		script(src="vendor/nouislider.min.js")
		script(src="vendor/csphotoselector.js")

		// Custom Js
		script(src="js/build/components/ChooseAudio.js", type="text/babel")
		script(src="js/build/components/ChooseImages.js", type="text/babel")
		script(src="js/build/components/ConfigAudio.js", type="text/babel")
		script(src="js/build/components/Build.js", type="text/babel")
		script(src="js/build/components/PanelController.js", type="text/babel")
		script(src="js/build/main.js", type="text/babel")

		// Css
		link(rel="stylesheet", type="text/css", href="css/vendor/csphotoselector.css")
		link(rel="stylesheet", type="text/css", href="/css/build.css")
		link(rel="stylesheet", type="text/css", href="/css/vendor/nouislider.css")
		link(rel="stylesheet", type="text/css", href="/css/vendor/nouislider.tooltips.css")

	body
		div.page-wrap
		
			include ../header.pug
			
			// Content
			div.container
				div.row
					div.col-md-8.col-md-offset-2
						div#react-root-build

		include ../footer.pug
		include ../facebook-photo-selector.pug