html
	head
		// Base head
		include ../base-head.pug

		title Dee Jay

		// Css
		link(rel="stylesheet", type="text/css", href="/css/home.css")

		// Js
		script(type='text/javascript').
			$(window).ready(function(){
				$(".create-new-btn").click(function(e){
					window.location = "/build";
				});
			});

	body
		div.page-wrap
		
			include ../header.pug
			
			div.container
				div.row
					// Left side
					div.col-md-6
						div.main-points
							div.point.build-point
								span.content Create your custom beat slide.
								div.create-new-btn.content Build slide
								div.clear
							div.point Mobile ready and cross-browser support.
							div.point Share your creation on facebook.
						div.regular-block
							div.title How does it work ?
							div.body
								p DeeJay analyzes your soundtrack and tries to find the high energy parts of the audio by analyzing the energy signature. Once this is done, it constructs a image slideshow based on this information. Ultimately, you end up with a slide that is controlled by your favorite song.
					// Right side
					div.col-md-6
						div.demo-video.hidden-xs.embed-responsive.embed-responsive-16by9
							iframe(width="560", height="315", src="https://www.youtube.com/embed/GRls1Gslc9Y", frameborder="0")
						div.regular-block
							div.title News and upcoming features
							div.body 
								div.news-bit 
									span.glyphicon.glyphicon-ok(aria-hidden="true")
									span.date 7/21/2016 
									| - DeeJay Alpha online.
								div.news-bit 
									span.glyphicon.glyphicon-ok(aria-hidden="true")
									| Support for other image sharing services: Instagram, Tumblr and Flickr.
								div.news-bit
									span.glyphicon.glyphicon-ok(aria-hidden="true")
									| Aditional transition types and more customization options.
								div.news-bit
									span.glyphicon.glyphicon-ok(aria-hidden="true")
									| Higher beat quality beat detection.
					// padding 
					div.col-md-12.home-padding
		include ../footer.pug
