//- @param audio_uri
//- @param keyframe_set
//- @param image_uris [<uri>,...]
//- @param slide_removed 1/0
//- @param exception 1/0
//- @param slide_uri
//- @param trim_start 
//- @param trim_end
//- @param dev - If app is in development mode
//- @param slide_remove_page - Uri to slide settings page
//- @parm beats - Used in debug mode {times:[...], intensities: [...]}

//- Mixins
include ../mixins/slide-modal.pug

html
	head
		title Play !

		// Base head
		include ../base-head.pug
		
		// Vendor libs
		script(src="/vendor/rekapi.js")
		script(src='/vendor/tinycolor.js')
		script(src="https://code.highcharts.com/highcharts.js")

		// Custom libs
		script(src="/js/player/library/Library.js")
		script(src="/js/player/library/Dimensions.js")
		script(src="/js/player/library/KeyframeSet.js")
		script(src="/js/player/library/BeatSet.js")
		script(src="/js/player/library/BeatTracker.js")
		script(src="/js/player/library/Images.js")
		script(src="/js/player/library/Printer.js")
		script(src="/js/player/library/Animator.js")
		script(src="/js/player/library/Manager.js")


		// ReactJs for play page
		script(src="/js/player/DebuggerChartPanel.js", type="text/babel")
		script(src="/js/player/Debugger.js", type="text/babel")
		script(src="/js/player/Player.js", type="text/babel")
		script(src="/js/player/Loading.js", type="text/babel")
		script(src="/js/player/main.js", type="text/babel")

		link(rel="stylesheet", type="text/css", href="/css/player.css")

	body#body
		div.page-wrap
		
			include ../header.pug
			
			// Content
			div.container
				div.row
					div.col-md-8.col-md-offset-2
						div#react-root-player

		include ../footer.pug

		- var uriJson = image_uris ? JSON.stringify(image_uris) : false
		- var beatsJson = beats ? JSON.stringify(beats) : false

		input(type="hidden", name="exception", value=exception)
		input(type="hidden", name="slide-removed", value=slide_removed)
		if(audio_uri)
			input(type="hidden", name="audio-uri", value=audio_uri)
		if(keyframe_set)
			input(type="hidden", name="keyframe-set", value=keyframe_set)
		if(uriJson)
			input(type="hidden", name="image-uris", value=uriJson)
		if(trim_start)
			input(type="hidden", name="trim-start", value=trim_start)
		if(trim_end)
			input(type="hidden", name="trim-end", value=trim_end)
		if(dev)
			input(type="hidden", name="dev-mode", value=true)
		if(beatsJson)
			input(type="hidden", name="beats", value=beatsJson)

		input(type="hidden", class="time-series-graph", sample-rate="23", title="Local energy (1s)", data="[0.300,0.304,0.308,0.312,0.314,0.316,0.317,0.318,0.319,0.319,0.320,0.320,0.320,0.318,0.316,0.313,0.311,0.309,0.307,0.305,0.301,0.298,0.295,0.292,0.291,0.292,0.294,0.296,0.298,0.298,0.298,0.298,0.298,0.297,0.296,0.296,0.297,0.299,0.299,0.297,0.294,0.290,0.287,0.283,0.280,0.279,0.280,0.283,0.287,0.292,0.295,0.299,0.303,0.306,0.307,0.307,0.306,0.304,0.301,0.300,0.299,0.297,0.298,0.298,0.298,0.298,0.299,0.300,0.301,0.303,0.304,0.307,0.311,0.315,0.318,0.322,0.323,0.325,0.326,0.327,0.330,0.333,0.335,0.335,0.335,0.335,0.335,0.335,0.334,0.333,0.331,0.329,0.327,0.324,0.320,0.317,0.314,0.312,0.313,0.317,0.322,0.326,0.327,0.326,0.325,0.326,0.329,0.333,0.337,0.340,0.340,0.339,0.336,0.332,0.329,0.325,0.321,0.318,0.314,0.310,0.307,0.304,0.300,0.300,0.302,0.307,0.313,0.318,0.322,0.326,0.330,0.332,0.333,0.332,0.331,0.330,0.329,0.329,0.328,0.328,0.328,0.325,0.321,0.320,0.320,0.327,0.337,0.343,0.348,0.349,0.349,0.349,0.349,0.349,0.350,0.352,0.353,0.353,0.354,0.353,0.353,0.353,0.353,0.352,0.352,0.353,0.351,0.348,0.345,0.342,0.342,0.342,0.343,0.343,0.342,0.343,0.343,0.343,0.343,0.342,0.342,0.343,0.343,0.342,0.340,0.338,0.334,0.328,0.324,0.319,0.315,0.312,0.308,0.304,0.300,0.296,0.293,0.292,0.291,0.292,0.293,0.293,0.293,0.293,0.294,0.294,0.293,0.291,0.289,0.288,0.286,0.285,0.281,0.276,0.272,0.267,0.264,0.261,0.260,0.261,0.263,0.266,0.270,0.273,0.276,0.280,0.283,0.286,0.291,0.296,0.299,0.303,0.303,0.303,0.303,0.303,0.303,0.303,0.304,0.305,0.305,0.306,0.308,0.311,0.315,0.320,0.324,0.327,0.331,0.332,0.333,0.335,0.337,0.342,0.346,0.350,0.355,0.358,0.361,0.363,0.364,0.364,0.363,0.363,0.362,0.360,0.358,0.354,0.351,0.348,0.345,0.341,0.339,0.338,0.337,0.338,0.339,0.340,0.344,0.348,0.351,0.354,0.355,0.354,0.352,0.350,0.347,0.343,0.339,0.336,0.332,0.329,0.327,0.326,0.326,0.326,0.326,0.326,0.326,0.327,0.329,0.330,0.332,0.335,0.336,0.337,0.337,0.337,0.337,0.338,0.338,0.338,0.338,0.336,0.337,0.338,0.338,0.342,0.343,0.345,0.346,0.346,0.345,0.345,0.346,0.347,0.347,0.347,0.346,0.344,0.343,0.343,0.343,0.343,0.343,0.343,0.343,0.342,0.340,0.339,0.337,0.336,0.336,0.334,0.334,0.333,0.332,0.332,0.331,0.329,0.328,0.326,0.325,0.325,0.326,0.326,0.324,0.320,0.314,0.308,0.306,0.304,0.305,0.304,0.301,0.298,0.295,0.291,0.290,0.290,0.291,0.293,0.294,0.294,0.294,0.294,0.294,0.294,0.292,0.290,0.288,0.287,0.286,0.285,0.283,0.279,0.276,0.273,0.270,0.268,0.268,0.269,0.273,0.276,0.280,0.283,0.287,0.290,0.292,0.293,0.295,0.297,0.299,0.302,0.303,0.305,0.305,0.306,0.306,0.306,0.307,0.308,0.309,0.311,0.314,0.316,0.320,0.324,0.328,0.331,0.335,0.338,0.338,0.338,0.338,0.337,0.338,0.339,0.339,0.339,0.339,0.339,0.338,0.337,0.336,0.335,0.334,0.332,0.330,0.327,0.324,0.321,0.319,0.321,0.324,0.328,0.329,0.326,0.323,0.319,0.321,0.324,0.328,0.331,0.331,0.331,0.329,0.325,0.322,0.318,0.315,0.311,0.308,0.305,0.302,0.302,0.302,0.304,0.309,0.314,0.321,0.327,0.331,0.334,0.338,0.341,0.343,0.343,0.342,0.340,0.339,0.339,0.338,0.338,0.338,0.337,0.337,0.335,0.335,0.337,0.342,0.349,0.354,0.356,0.357,0.357,0.357,0.358,0.358,0.359,0.359,0.360,0.360,0.360,0.360,0.359,0.359,0.358,0.358,0.358,0.357,0.355,0.351,0.348,0.346,0.346,0.346,0.346,0.346,0.345,0.345,0.345,0.345,0.345,0.344,0.344,0.344,0.343,0.343,0.342,0.338,0.333,0.328,0.323,0.320,0.317,0.313,0.309,0.305,0.302,0.298,0.297,0.296,0.296,0.297,0.297,0.298,0.298,0.298,0.298,0.296,0.294,0.293,0.292,0.293,0.293,0.290,0.286,0.282,0.279,0.275,0.272,0.270,0.269,0.271,0.274,0.278,0.281,0.285,0.289,0.292,0.296,0.298,0.300,0.301,0.300,0.300,0.300,0.299,0.299,0.299,0.299,0.299,0.299,0.300,0.301,0.303,0.305,0.309,0.313,0.317,0.321,0.324,0.328,0.332,0.336,0.341,0.346,0.352,0.356,0.361,0.365,0.368,0.371,0.373,0.374,0.372,0.371,0.370,0.367,0.365,0.362,0.358,0.355,0.351,0.348,0.344,0.344,0.344,0.346,0.349,0.351,0.355,0.358,0.363,0.366,0.368,0.368,0.367,0.365,0.363,0.360,0.356,0.353,0.349,0.345,0.341,0.336,0.330,0.325,0.320,0.317,0.316,0.316,0.317,0.318,0.320,0.322,0.324,0.327,0.328,0.329,0.329,0.330,0.331,0.331,0.332,0.333,0.336,0.338,0.341,0.343,0.345,0.348,0.350,0.352,0.353,0.353,0.354,0.355,0.356,0.357,0.358,0.359,0.360,0.361,0.362,0.362,0.362,0.360,0.358,0.357,0.354,0.353,0.353,0.352,0.352,0.352,0.352,0.352,0.352,0.351,0.350,0.349,0.347,0.346,0.345,0.346,0.347,0.348,0.348,0.346,0.345,0.343,0.339,0.339,0.336,0.335,0.334,0.331,0.328,0.326,0.324,0.321,0.318,0.315,0.313,0.311,0.310,0.310,0.311,0.313,0.314,0.314,0.313,0.310,0.308,0.305,0.302,0.299,0.295,0.291,0.287,0.284,0.281,0.278,0.276,0.274,0.272,0.271,0.270,0.269,0.267,0.265,0.262,0.260,0.258,0.256,0.257,0.258,0.259,0.260,0.260,0.259,0.259,0.259,0.259,0.258,0.258,0.257,0.257,0.257,0.256,0.256,0.255,0.254,0.255,0.254,0.254,0.253,0.251,0.250,0.249,0.248,0.248,0.247,0.247,0.249,0.252,0.254,0.256,0.256,0.256,0.256,0.257,0.258,0.259,0.260,0.260,0.260,0.261,0.265,0.269,0.276,0.282,0.286,0.290,0.293,0.295,0.295,0.295,0.295,0.294,0.294,0.294,0.293,0.291,0.290,0.287,0.286,0.289,0.293,0.299,0.307,0.312,0.319,0.325,0.330,0.335,0.339,0.341,0.342,0.342,0.342,0.344,0.346,0.348,0.350,0.351,0.352,0.353,0.355,0.361,0.368,0.375,0.382,0.385,0.386,0.386,0.386,0.387,0.388,0.392,0.395,0.398,0.399,0.400,0.400,0.400,0.401,0.401,0.402,0.402,0.399,0.397,0.396,0.395,0.395,0.393,0.392,0.391,0.391,0.391,0.390,0.389,0.388,0.387,0.386,0.385,0.384,0.383,0.383,0.383,0.379,0.374,0.368,0.359,0.351,0.342,0.334,0.328,0.323,0.319,0.315,0.312,0.307,0.304,0.301,0.300,0.300,0.301,0.303,0.305,0.307,0.310,0.311,0.311,0.309,0.305,0.302,0.299,0.295,0.292,0.289,0.286,0.284,0.282,0.282,0.282,0.282,0.281,0.281,0.281,0.281,0.280,0.278,0.276,0.276,0.275,0.275,0.275,0.275,0.275,0.275,0.276,0.276,0.276,0.275,0.274,0.273,0.273,0.272,0.271,0.269,0.267,0.264,0.261,0.257,0.254,0.251,0.250,0.249,0.250,0.250,0.251,0.250,0.250,0.249,0.249,0.248,0.248,0.248,0.248,0.248,0.249,0.249,0.249,0.249,0.249,0.247,0.246,0.245,0.244,0.246,0.246,0.248,0.248,0.248,0.248,0.248,0.249,0.252,0.257,0.262,0.266,0.268,0.268,0.268,0.268,0.269,0.271,0.275,0.280,0.286,0.291,0.297,0.302,0.306,0.309,0.312,0.313,0.314,0.316,0.317,0.318,0.319,0.319,0.318,0.317,0.316,0.315,0.314,0.313,0.315,0.318,0.322,0.326,0.328,0.328,0.328,0.330,0.331,0.333,0.335,0.336,0.335,0.335,0.335,0.337,0.339,0.342,0.344,0.346,0.347,0.346,0.342,0.339,0.336,0.334,0.332,0.331,0.331,0.330,0.329,0.329,0.329,0.329,0.330,0.332,0.334,0.337,0.340,0.343,0.346,0.348,0.351,0.354,0.354,0.354,0.354,0.352,0.352,0.353,0.352,0.351,0.349,0.348,0.346,0.343,0.339,0.336,0.333,0.331,0.330,0.328,0.326,0.324,0.321,0.318,0.316,0.313,0.310,0.306,0.302,0.300,0.298,0.296,0.294,0.291,0.288,0.284,0.279,0.274,0.269,0.265,0.262,0.260,0.257,0.253,0.249,0.245,0.242,0.239,0.237,0.234,0.232,0.231,0.228,0.226,0.224,0.222,0.221,0.221,0.221,0.223,0.225,0.226,0.228,0.230,0.232,0.234,0.237,0.240,0.242,0.244,0.245,0.245,0.246,0.246,0.247,0.247,0.247,0.247,0.247,0.248,0.248,0.248,0.248,0.248,0.248,0.247,0.246,0.248,0.249,0.250,0.254,0.259,0.266,0.275,0.282,0.288,0.293,0.298,0.302,0.305,0.308,0.309,0.309,0.308,0.306,0.304,0.302,0.300,0.295,0.291,0.289,0.288,0.291,0.295,0.299,0.302,0.305,0.307,0.310,0.313,0.317,0.321,0.326,0.330,0.333,0.336,0.337,0.338,0.339,0.339,0.339,0.342,0.349,0.355,0.360,0.363,0.363,0.362,0.361,0.360,0.359,0.358,0.358,0.358,0.358,0.360,0.361,0.364,0.367,0.369,0.370,0.371,0.372,0.373,0.373,0.372,0.370,0.368,0.366,0.365,0.364,0.363,0.362,0.362,0.362,0.362,0.362,0.362,0.362,0.363,0.365,0.367,0.369,0.369,0.366,0.361,0.354,0.345,0.339,0.332,0.327,0.325,0.323,0.322,0.321,0.319,0.318,0.318,0.317,0.316,0.314,0.313,0.312,0.312,0.312,0.312,0.311,0.310,0.309,0.309,0.308,0.307,0.305,0.303,0.301,0.297,0.293,0.288,0.283,0.279,0.275,0.273,0.270,0.267,0.265,0.263,0.259,0.255,0.252,0.248,0.248,0.249,0.250,0.251,0.252,0.252,0.252,0.252,0.251,0.251,0.250,0.249,0.247,0.245,0.244,0.243,0.243,0.244,0.246,0.246,0.247,0.246,0.244,0.244,0.244,0.244,0.245,0.246,0.248,0.251,0.256,0.261,0.265,0.268,0.270,0.271,0.272,0.273,0.273,0.274,0.272,0.272,0.270,0.269,0.270,0.271,0.274,0.277,0.280,0.284,0.286,0.288,0.289,0.290,0.291,0.294,0.299,0.304,0.310,0.314,0.316,0.318,0.322,0.329,0.337,0.346,0.353,0.359,0.364,0.369,0.373,0.378,0.380,0.380,0.380,0.379,0.380,0.381,0.385,0.388,0.392,0.395,0.397,0.401,0.402,0.405,0.409,0.410,0.414,0.416,0.418,0.421,0.425,0.430,0.434,0.438,0.442,0.444,0.443,0.440,0.435,0.428,0.424,0.418,0.412,0.405,0.397,0.393,0.391,0.392,0.396,0.400,0.402,0.400,0.398,0.396,0.394,0.394,0.397,0.402,0.407,0.411,0.413,0.413,0.415,0.415,0.413,0.411,0.407,0.405,0.405,0.403,0.402,0.399,0.395,0.389,0.384,0.379,0.375,0.372,0.369,0.367,0.365,0.365,0.365,0.365,0.364,0.366,0.368,0.369,0.370,0.366,0.360,0.352,0.344,0.336,0.331,0.328,0.325,0.326,0.329,0.332,0.334,0.335,0.335,0.338,0.343,0.347,0.351,0.355,0.359,0.363,0.363,0.364,0.363,0.362,0.360,0.358,0.357,0.358,0.360,0.363,0.367,0.371,0.376,0.382,0.390,0.398,0.406,0.412,0.413,0.413,0.412,0.411,0.414,0.417,0.422,0.428,0.433,0.438,0.442,0.446,0.448,0.447,0.445,0.440,0.436,0.432,0.428,0.424,0.421,0.416,0.414,0.411,0.410,0.414,0.418,0.425,0.433,0.439,0.444,0.447,0.447,0.445,0.441,0.437,0.434,0.430,0.424,0.416,0.410,0.405,0.401,0.403,0.406,0.411,0.416,0.418,0.419,0.419,0.419,0.421,0.423,0.427,0.429,0.429,0.428,0.425,0.424,0.422,0.421,0.420,0.420,0.422,0.420,0.417,0.418,0.420,0.423,0.426,0.425,0.424,0.424,0.424,0.426,0.427,0.428,0.428,0.430,0.432,0.435,0.441,0.445,0.447,0.447,0.444,0.439,0.435,0.434,0.433,0.435,0.436,0.437,0.437,0.435,0.433,0.429,0.426,0.426,0.427,0.431,0.436,0.441,0.445,0.448,0.448,0.447,0.446,0.447,0.446,0.445,0.442,0.437,0.433,0.428,0.423,0.420,0.419,0.419,0.421,0.424,0.424,0.423,0.421,0.415,0.410,0.407,0.405,0.403,0.405,0.403,0.401,0.396,0.388,0.382,0.375,0.368,0.362,0.357,0.354,0.352,0.351,0.352,0.352,0.351,0.352,0.351,0.352,0.353,0.354,0.355,0.358,0.356,0.353,0.350,0.345,0.344,0.343,0.343,0.342,0.339,0.336,0.333,0.331,0.332,0.335,0.339,0.344,0.350,0.354,0.359,0.363,0.363,0.363,0.363,0.364,0.368,0.374,0.380,0.385,0.390,0.394,0.397,0.398,0.397,0.394,0.392,0.389,0.386,0.383,0.378,0.373,0.368,0.361,0.356,0.355,0.358,0.367,0.377,0.384,0.390,0.393,0.395,0.397,0.398,0.399,0.398,0.398,0.395,0.392,0.388,0.383,0.378,0.374,0.370,0.369,0.369,0.370,0.373,0.374,0.374,0.375,0.376,0.376,0.378,0.382,0.388,0.395,0.402,0.409,0.414,0.417,0.420,0.423,0.424,0.426,0.427,0.428,0.427,0.426,0.420,0.417,0.416,0.415,0.419,0.421,0.424,0.427,0.432,0.437,0.441,0.445,0.448,0.451,0.455,0.459,0.463,0.467,0.470,0.471,0.471,0.472,0.474,0.476,0.478,0.478,0.477,0.474,0.471,0.466,0.459,0.453,0.448,0.446,0.448,0.450,0.453,0.456,0.458,0.459,0.461,0.462,0.461,0.461,0.458,0.456,0.453,0.449,0.445,0.439,0.433,0.427,0.421,0.416,0.410,0.406,0.402,0.399,0.397,0.394,0.390,0.386,0.382,0.381,0.380,0.380,0.379,0.378,0.377,0.377,0.378,0.380,0.382,0.385,0.388,0.388,0.388,0.386,0.383,0.380,0.377,0.377,0.376,0.377,0.376,0.376,0.376,0.376,0.377,0.376,0.374,0.374,0.374,0.375,0.378,0.381,0.387,0.392,0.398,0.405,0.410,0.416,0.423,0.431,0.436,0.439,0.439,0.436,0.434,0.434,0.436,0.440,0.442,0.444,0.444,0.445,0.445,0.443,0.440,0.435,0.429,0.423,0.418,0.413,0.411,0.408,0.406,0.405,0.404,0.407,0.411,0.416,0.423,0.429,0.434,0.438,0.440,0.438,0.435,0.430,0.424,0.418,0.411,0.404,0.397,0.389,0.381,0.373,0.371,0.371,0.373,0.377,0.378,0.378,0.378,0.377,0.376,0.375,0.373,0.372,0.371,0.370,0.371,0.373,0.377,0.381,0.385,0.387,0.389,0.389,0.391,0.395,0.399,0.403,0.406,0.405,0.403,0.402,0.402,0.404,0.406,0.407,0.407,0.406,0.405,0.404,0.404,0.405,0.405,0.406,0.406,0.404,0.404,0.402,0.401,0.405,0.408,0.413,0.418,0.421,0.422,0.421,0.419,0.420,0.421,0.425,0.428,0.431,0.434,0.436,0.438,0.439,0.439,0.437,0.435,0.430,0.425,0.421,0.416,0.414,0.412,0.409,0.407,0.405,0.405,0.407,0.409,0.411,0.412,0.412,0.411,0.411,0.410,0.409,0.408,0.406,0.402,0.398,0.388,0.378,0.366,0.354,0.346,0.340,0.336,0.332,0.331,0.330,0.330,0.331,0.330,0.330,0.329,0.329,0.330,0.331,0.332,0.330,0.324,0.320,0.315,0.312,0.311,0.309,0.308,0.307,0.307,0.307,0.308,0.310,0.313,0.318,0.324,0.329,0.333,0.338,0.341,0.341,0.342,0.342,0.343,0.348,0.352,0.357,0.362,0.365,0.368,0.372,0.374,0.374,0.373,0.372,0.369,0.367,0.364,0.360,0.357,0.353,0.351,0.351,0.353,0.358,0.365,0.373,0.381,0.387,0.391,0.394,0.397,0.399,0.401,0.401,0.402,0.400,0.396,0.392,0.388,0.384,0.380,0.377,0.379,0.384,0.393,0.404,0.414,0.426,0.435,0.444,0.451,0.461,0.474,0.498,0.524,0.551,0.574,0.589,0.600,0.608,0.614,0.616,0.618,0.616,0.613,0.611,0.606,0.604,0.603,0.601,0.601,0.599,0.599,0.599,0.599,0.598,0.598,0.598,0.599,0.602,0.606,0.611,0.617,0.623,0.627,0.631,0.632,0.631,0.628,0.621,0.614,0.609,0.606,0.606,0.604,0.599,0.583,0.563,0.540,0.519,0.506,0.499,0.496,0.497,0.501,0.505,0.511,0.516,0.525,0.534,0.538,0.542,0.543,0.544,0.549,0.555,0.561,0.567,0.572,0.575,0.578,0.581,0.585,0.589,0.593,0.597,0.600,0.600,0.599,0.596,0.594,0.593,0.594,0.594,0.595,0.594,0.592,0.589,0.584,0.580,0.577,0.576,0.578,0.580,0.583,0.586,0.589,0.591,0.590,0.584,0.578,0.570,0.565,0.565,0.567,0.570,0.572,0.573,0.573,0.572,0.572,0.571,0.573,0.576,0.578,0.581,0.582,0.583,0.584,0.586,0.589,0.591,0.595,0.600,0.603,0.606,0.607,0.603,0.599,0.596,0.594,0.593,0.592,0.589,0.586,0.581,0.575,0.569,0.563,0.557,0.553,0.550,0.550,0.553,0.557,0.560,0.558,0.552,0.545,0.538,0.535,0.531,0.527,0.523,0.518,0.511,0.504,0.496,0.488,0.483,0.478,0.476,0.475,0.474,0.472,0.471,0.469,0.466,0.466,0.466,0.466,0.467,0.467,0.465,0.464,0.462,0.460,0.459,0.458,0.457,0.455,0.453,0.451,0.448,0.446,0.445,0.443,0.439,0.433,0.430,0.428,0.430,0.434,0.435,0.437,0.439,0.441,0.445,0.448,0.453,0.458,0.463,0.467,0.469,0.469,0.468,0.467,0.467,0.466,0.465,0.465,0.464,0.466,0.469,0.472,0.474,0.476,0.476,0.476,0.476,0.478,0.480,0.483,0.487,0.491,0.495,0.499,0.503,0.503,0.504,0.506,0.510,0.519,0.526,0.530,0.532,0.532,0.532,0.532,0.531,0.531,0.530,0.529,0.529,0.529,0.529,0.529,0.529,0.529,0.529,0.528,0.528,0.528,0.527,0.527,0.525,0.522,0.519,0.516,0.515,0.515,0.516,0.517,0.518,0.517,0.515,0.512,0.508,0.506,0.504,0.503,0.502,0.503,0.501,0.498,0.494,0.489,0.488,0.490,0.492,0.495,0.495,0.493,0.490,0.487,0.483,0.481,0.482,0.481,0.483,0.484,0.483,0.482,0.480,0.478,0.477,0.480,0.482,0.486,0.488,0.490,0.491,0.492,0.492,0.491,0.490,0.489,0.490,0.492,0.496,0.499,0.502,0.503,0.503,0.502,0.502,0.504,0.507,0.511,0.514,0.517,0.516,0.516,0.514,0.514,0.516,0.518,0.520,0.522,0.523,0.522,0.521,0.519,0.517,0.516,0.515,0.514,0.514,0.513,0.512,0.513,0.514,0.516,0.518,0.521,0.523,0.526,0.529,0.530,0.531,0.530,0.526,0.522,0.517,0.511,0.506,0.501,0.495,0.489,0.483,0.476,0.473,0.467,0.461,0.457,0.451,0.446,0.443,0.440,0.438,0.437,0.436,0.434,0.432,0.429,0.426,0.424,0.422,0.420,0.420,0.421,0.421,0.420,0.418,0.415,0.415,0.416,0.419,0.422,0.426,0.430,0.434,0.439,0.445,0.451,0.458,0.465,0.472,0.478,0.485,0.492,0.501,0.507,0.515,0.520,0.524,0.529,0.532,0.538,0.542,0.546,0.549,0.553,0.556,0.560,0.563,0.567,0.571,0.575,0.580,0.583,0.586,0.586,0.588,0.591,0.595,0.601,0.603,0.603,0.600,0.596,0.593,0.589,0.588,0.589,0.589,0.588,0.585,0.583,0.581,0.581,0.581,0.582,0.581,0.580,0.576,0.570,0.567,0.564,0.562,0.562,0.562,0.561,0.561,0.562,0.562,0.563,0.565,0.567,0.569,0.570,0.571,0.572,0.575,0.578,0.582,0.579,0.576,0.571,0.567,0.567,0.569,0.572,0.576,0.580,0.583,0.585,0.586,0.585,0.584,0.583,0.582,0.581,0.580,0.578,0.576,0.575,0.574,0.573,0.573,0.573,0.573,0.575,0.575,0.575,0.577,0.577,0.578,0.576,0.573,0.568,0.564,0.562,0.562,0.563,0.563,0.563,0.564,0.564,0.566,0.568,0.568,0.565,0.561,0.557,0.553,0.549,0.543,0.536,0.528,0.522,0.518,0.515,0.512,0.509,0.506,0.503,0.500,0.496,0.493,0.490,0.489,0.489,0.487,0.487,0.486,0.483,0.483,0.483,0.483,0.483,0.483,0.483,0.484,0.485,0.484,0.482,0.478,0.476,0.476,0.477,0.476,0.474,0.473,0.472,0.475,0.479,0.481,0.484,0.487,0.490,0.494,0.498,0.500,0.503,0.505,0.508,0.511,0.514,0.516,0.516,0.516,0.514,0.514,0.514,0.513,0.513,0.512,0.512,0.512,0.513,0.512,0.511,0.510,0.509,0.510,0.512,0.513,0.515,0.516,0.516,0.515,0.512,0.507,0.503,0.499,0.499,0.500,0.503,0.505,0.505,0.505,0.504,0.502,0.500,0.497,0.496,0.494,0.492,0.489,0.486,0.483,0.482,0.481,0.482,0.485,0.485,0.488,0.490,0.491,0.496,0.498,0.500,0.503,0.503,0.505,0.506,0.507,0.505,0.501,0.498,0.494,0.492,0.491,0.490,0.490,0.490,0.490,0.488,0.487,0.487,0.488,0.489,0.491,0.493,0.496,0.499,0.503,0.506,0.509,0.512,0.515,0.520,0.526,0.531,0.537,0.541,0.546,0.549,0.550,0.550,0.548,0.549,0.546,0.546,0.546,0.544,0.545,0.543,0.541,0.540,0.541,0.543,0.546,0.548,0.549,0.549,0.550,0.550,0.552,0.554,0.556,0.557,0.556,0.556,0.553,0.550,0.546,0.542,0.538,0.533,0.529,0.526,0.521,0.516,0.511,0.506,0.499,0.492,0.485,0.477,0.471,0.464,0.459,0.454,0.447,0.446,0.445,0.444,0.443,0.438,0.433,0.429,0.425,0.423,0.419,0.415,0.410,0.406,0.402,0.397,0.390,0.382,0.372,0.366,0.362,0.361,0.362,0.362,0.364,0.366,0.370,0.374,0.378,0.384,0.389,0.395,0.398,0.399,0.401,0.404,0.407,0.411,0.416,0.419,0.422,0.424,0.428,0.432,0.432,0.431,0.425,0.418,0.413,0.411,0.407,0.403,0.399,0.395,0.391,0.388,0.384,0.380,0.377,0.376,0.374,0.374,0.371,0.370,0.367,0.366,0.365,0.363,0.361,0.358,0.355,0.351,0.347,0.343,0.339,0.337,0.337,0.339,0.341,0.342,0.342,0.343,0.343,0.341,0.342,0.342,0.343,0.345,0.345,0.346,0.345,0.346,0.346,0.346,0.346,0.346,0.346,0.346,0.346,0.346,0.346,0.346,0.346,0.346,0.346,0.347,0.346,0.345,0.344,0.342,0.340,0.336,0.332,0.329,0.325,0.321,0.317,0.313,0.310,0.306,0.302,0.297,0.292,0.288,0.283,0.278,0.273,0.269,0.264,0.259,0.259,0.262,0.268,0.276,0.283,0.289,0.295,0.301,0.306,0.312,0.319,0.324,0.329,0.332,0.335,0.337,0.340,0.343,0.343,0.343,0.342,0.342,0.345,0.347,0.351,0.354,0.357,0.360,0.363,0.366,0.370,0.373,0.375,0.376,0.375,0.375,0.374,0.374,0.374,0.373,0.374,0.374,0.376,0.374,0.368,0.362,0.355,0.351,0.349,0.348,0.347,0.346,0.344,0.341,0.340,0.339,0.339,0.340,0.339,0.338,0.335,0.332,0.330,0.327,0.326,0.327,0.330,0.335,0.339,0.345,0.350,0.356,0.361,0.364,0.367,0.369,0.373,0.378,0.382,0.387,0.391,0.396,0.397,0.399,0.399,0.398,0.402,0.405,0.407,0.407,0.404,0.399,0.394,0.390,0.386,0.381,0.377,0.374,0.370,0.366,0.363,0.361,0.360,0.359,0.359,0.357,0.356,0.355,0.356,0.356,0.356,0.355,0.351,0.348,0.345,0.343,0.342,0.341,0.342,0.341,0.340,0.340,0.340,0.340,0.340,0.339,0.340,0.344,0.350,0.356,0.360,0.362,0.363,0.363,0.363,0.363,0.363,0.364,0.367,0.371,0.377,0.383,0.388,0.393,0.397,0.401,0.406,0.411,0.414,0.416,0.415,0.411,0.408,0.404,0.402,0.401,0.399,0.398,0.396,0.396,0.396,0.397,0.398,0.398,0.397,0.394,0.391,0.388,0.385,0.381,0.377,0.372,0.371,0.373,0.379,0.387,0.395,0.401,0.407,0.414,0.423,0.432,0.441,0.448,0.451,0.453,0.454,0.456,0.459,0.464,0.470,0.476,0.483,0.492,0.500,0.510,0.518,0.524,0.530,0.534,0.537,0.540,0.542,0.545,0.546,0.547,0.548,0.548,0.550,0.551,0.552,0.552,0.552,0.551,0.550,0.547,0.544,0.541,0.537,0.535,0.534,0.535,0.534,0.531,0.526,0.517,0.510,0.505,0.500,0.496,0.491,0.485,0.477,0.467,0.459,0.450,0.442,0.432,0.420,0.409,0.400,0.394,0.389,0.384,0.379,0.374,0.369,0.364,0.361,0.359,0.357,0.355,0.352,0.349,0.346,0.348,0.347,0.348,0.352,0.350,0.349,0.347,0.343,0.338,0.332,0.326,0.321,0.318,0.316,0.315,0.313,0.311,0.310,0.309,0.309,0.309,0.307,0.306,0.306,0.307,0.310,0.311,0.310,0.307,0.303,0.299,0.296,0.292,0.291,0.290,0.290,0.290,0.290,0.291,0.293,0.296,0.299,0.302,0.303,0.302,0.300,0.297,0.296,0.296,0.296,0.296,0.296,0.296,0.297,0.299,0.300,0.302,0.305,0.308,0.312,0.316,0.320,0.324,0.328,0.331,0.334,0.339,0.344,0.350,0.356,0.361,0.365,0.368,0.371,0.372,0.373,0.373,0.372,0.372,0.370,0.368,0.365,0.362,0.358,0.355,0.351,0.350,0.349,0.348,0.349,0.350,0.353,0.358,0.364,0.368,0.372,0.373,0.372,0.369,0.366,0.364,0.362,0.359,0.355,0.351,0.347,0.343,0.339,0.337,0.334,0.331,0.328,0.324,0.322,0.321,0.322,0.323,0.325,0.327,0.328,0.329,0.329,0.329,0.329,0.330,0.330,0.330,0.330,0.330,0.329,0.331,0.335,0.340,0.346,0.350,0.352,0.352,0.352,0.351,0.353,0.356,0.357,0.358,0.357,0.355,0.354,0.353,0.353,0.353,0.353,0.353,0.353,0.352,0.353,0.353,0.354,0.354,0.355,0.355,0.356,0.356,0.356,0.357,0.357,0.358,0.359,0.361,0.363,0.366,0.368,0.370,0.370,0.370,0.368,0.367,0.362,0.357,0.351,0.344,0.339,0.335,0.332,0.328,0.324,0.322,0.323,0.324,0.327,0.328,0.329,0.329,0.329,0.329,0.328,0.327,0.326,0.325,0.328,0.329,0.328,0.326,0.322,0.318,0.314,0.310,0.307,0.305,0.305,0.307,0.309,0.310,0.311,0.313,0.315,0.319,0.321,0.321,0.320,0.317,0.315,0.314,0.314,0.315,0.315,0.315,0.315,0.315,0.315,0.316,0.317,0.320,0.324,0.328,0.332,0.336,0.340,0.343,0.343,0.343,0.344,0.346,0.351,0.355,0.358,0.362,0.365,0.368,0.373,0.386,0.406,0.425,0.447,0.459,0.464,0.466,0.464,0.460,0.456,0.452,0.448,0.449,0.452,0.460,0.471,0.479,0.485,0.490,0.494,0.496,0.503,0.513,0.525,0.538,0.546,0.549,0.549,0.546,0.542,0.538,0.534,0.532,0.531,0.530,0.532,0.534,0.535,0.539,0.541,0.542,0.542,0.541,0.532,0.514,0.495,0.473,0.457,0.449,0.444,0.443,0.444,0.445,0.444,0.445,0.445,0.443,0.442,0.437,0.435,0.434,0.434,0.436,0.438,0.435,0.427,0.416,0.401,0.391,0.387,0.387,0.389,0.391,0.392,0.392,0.391,0.387,0.383,0.377,0.371,0.367,0.363,0.362,0.362,0.363,0.363,0.363,0.362,0.360,0.358,0.357,0.357,0.358,0.359,0.360,0.360,0.359,0.357,0.357,0.356,0.357,0.356,0.354,0.351,0.348,0.344,0.340,0.336,0.333,0.330,0.327,0.323,0.319,0.315,0.312,0.310,0.309,0.309,0.308,0.307,0.304,0.300,0.296,0.292,0.288,0.284,0.280,0.276,0.272,0.269,0.266,0.263,0.261,0.259,0.257,0.255,0.254,0.253,0.252,0.252,0.253,0.255,0.255,0.256,0.255,0.254,0.254,0.254,0.253,0.252,0.251,0.250,0.249,0.248,0.248,0.247,0.247,0.247,0.247,0.247,0.247,0.246,0.244,0.242,0.240,0.240,0.240,0.240,0.240,0.240,0.239,0.238,0.238,0.237,0.237,0.237,0.237,0.238,0.239,0.239,0.239,0.238,0.236,0.234,0.229,0.224,0.224,0.226,0.233,0.241,0.247,0.253,0.258,0.263,0.267,0.271,0.274,0.276,0.278,0.279,0.280,0.281,0.281,0.282,0.284,0.288,0.293,0.298,0.303,0.307,0.312,0.317,0.321,0.326,0.332,0.337,0.342,0.346,0.349,0.351,0.353,0.355,0.356,0.357,0.359,0.359,0.363,0.371,0.383,0.395,0.403,0.407,0.407,0.407,0.408,0.408,0.409,0.411,0.413,0.414,0.415,0.416,0.416,0.416,0.416,0.415,0.414,0.411,0.408,0.406,0.405,0.406,0.405,0.404,0.402,0.401,0.400,0.399,0.397,0.395,0.394,0.395,0.396,0.396,0.396,0.396,0.395,0.394,0.393,0.389,0.383,0.373,0.361,0.350,0.341,0.333,0.328,0.322,0.316,0.311,0.306,0.301,0.297,0.294,0.291,0.290,0.288,0.288,0.287,0.288,0.289,0.289,0.288,0.287,0.284,0.283,0.281,0.279,0.276,0.272,0.268,0.265,0.262,0.259,0.255,0.252,0.249,0.248,0.248,0.248,0.249,0.247,0.248,0.249,0.251,0.253,0.255,0.256,0.256,0.257,0.258,0.260,0.261,0.262,0.263,0.263,0.264,0.265,0.265,0.265,0.265,0.264,0.263,0.259,0.256,0.254,0.251,0.251,0.250,0.249,0.249,0.249,0.250,0.251,0.252,0.254,0.255,0.255,0.255,0.255,0.254,0.252,0.251,0.249,0.247,0.246,0.245,0.245,0.247,0.248,0.251,0.254,0.255,0.256,0.256,0.256,0.259,0.263,0.268,0.275,0.281,0.286,0.290,0.294,0.299,0.304,0.308,0.312,0.316,0.318,0.321,0.322,0.323,0.325,0.326,0.326,0.326,0.326,0.326,0.327,0.329,0.332,0.335,0.336,0.337,0.337,0.337,0.336,0.336,0.335,0.332,0.328,0.326,0.326,0.327,0.331,0.332,0.334,0.335,0.334,0.332,0.328,0.324,0.321,0.320,0.318,0.317,0.315,0.312,0.311,0.312,0.313,0.316,0.319,0.322,0.326,0.328,0.330,0.331,0.333,0.335,0.337,0.338,0.339,0.340,0.343,0.346,0.350,0.354,0.357,0.359,0.359,0.358,0.358,0.360,0.361,0.361,0.358,0.354,0.352,0.351,0.349,0.347,0.347,0.346,0.345,0.343,0.340,0.337,0.334,0.331,0.328,0.324,0.320,0.316,0.312,0.309,0.307,0.304,0.301,0.299,0.297,0.296,0.294,0.292,0.291,0.288,0.285,0.282,0.279,0.276,0.274,0.272,0.271,0.270,0.268,0.266,0.264,0.263,0.262,0.262,0.262,0.263,0.263,0.262,0.262,0.260,0.257,0.255,0.254,0.255,0.256,0.257,0.259,0.259,0.259,0.257,0.256,0.254,0.254,0.254,0.254,0.255,0.255,0.256,0.257,0.258,0.259,0.259,0.259,0.259,0.259,0.259,0.259,0.259,0.260,0.261,0.265,0.270,0.275,0.278,0.278,0.277,0.275,0.274,0.272,0.271,0.271,0.271,0.274,0.279,0.284,0.291,0.295,0.299,0.302,0.305,0.308,0.312,0.317,0.322,0.327,0.330,0.333,0.335,0.336,0.339,0.340,0.342,0.343,0.345,0.347,0.349,0.351,0.351,0.349,0.347,0.345,0.343,0.340,0.335,0.330,0.326,0.324,0.329,0.335,0.341,0.347,0.350,0.352,0.355,0.358,0.359,0.357,0.355,0.350,0.346,0.343,0.340,0.338,0.336,0.334,0.331,0.328,0.326,0.324,0.323,0.321,0.320,0.318,0.318,0.317,0.318,0.319,0.319,0.319,0.318,0.318,0.318,0.320,0.322,0.323,0.325,0.326,0.325,0.326,0.324,0.322,0.320,0.315,0.310,0.306,0.303,0.300,0.298,0.295,0.292,0.290,0.288,0.288,0.289,0.291,0.293,0.294,0.293,0.292,0.290,0.289,0.289,0.289,0.289,0.288,0.286,0.283,0.280,0.276,0.271,0.266,0.261,0.258,0.256,0.255,0.253,0.251,0.249,0.248,0.247,0.245,0.244,0.243,0.242,0.243,0.243,0.244,0.244,0.244,0.243,0.241,0.240,0.239,0.238,0.238,0.237,0.235,0.232,0.229,0.226,0.224,0.225,0.226,0.227,0.228,0.227,0.227,0.228,0.229,0.230,0.231,0.232,0.234,0.236,0.237,0.238,0.238,0.238,0.239,0.240,0.241,0.243,0.244,0.246,0.251,0.255,0.259,0.262,0.263,0.264,0.266,0.268,0.269,0.270,0.274,0.279,0.286,0.292,0.300,0.308,0.316,0.323,0.328,0.331,0.333,0.337,0.342,0.349,0.356,0.363,0.368,0.371,0.374,0.377,0.381,0.385,0.389,0.392,0.395,0.397,0.399,0.402,0.405,0.407,0.408,0.407,0.407,0.404,0.403,0.406,0.408,0.415,0.423,0.429,0.437,0.445,0.453,0.458,0.460,0.459,0.456,0.450,0.442,0.434,0.426,0.421,0.416,0.411,0.405,0.399,0.396,0.395,0.398,0.403,0.408,0.411,0.412,0.410,0.408,0.406,0.406,0.408,0.414,0.420,0.425,0.428,0.429,0.430,0.430,0.431,0.432,0.431,0.428,0.425,0.420,0.415,0.412,0.408,0.402,0.398,0.394,0.390,0.388,0.386,0.384,0.383,0.383,0.383,0.383,0.383,0.384,0.386,0.387,0.387,0.384,0.377,0.368,0.359,0.352,0.346,0.342,0.340,0.341,0.346,0.350,0.353,0.355,0.356,0.359,0.364,0.368,0.371,0.374,0.373,0.371,0.371,0.370,0.370,0.370,0.369,0.367,0.365,0.362,0.360,0.360,0.362,0.366,0.372,0.379,0.387,0.395,0.403,0.411,0.413,0.415,0.416,0.415,0.416,0.417,0.418,0.421,0.424,0.427,0.430,0.432,0.432,0.431,0.428,0.424,0.420,0.415,0.410,0.405,0.401,0.396,0.393,0.392,0.395,0.401,0.407,0.412,0.415,0.418,0.423,0.428,0.432,0.434,0.434,0.432,0.428,0.423,0.415,0.408,0.401,0.395,0.391,0.392,0.393,0.395,0.400,0.403,0.407,0.411,0.415,0.420,0.425,0.430,0.434,0.435,0.433,0.430,0.427,0.424,0.422,0.421,0.422,0.424,0.425,0.426,0.422,0.416,0.406,0.395,0.388,0.384,0.384,0.385,0.385,0.386,0.386,0.385,0.386,0.389,0.392,0.397,0.402,0.403,0.403,0.401,0.394,0.388,0.384,0.381,0.382,0.384,0.385,0.386,0.384,0.381,0.378,0.374,0.373,0.374,0.378,0.383,0.388,0.393,0.395,0.395,0.393,0.390,0.388,0.390,0.393,0.399,0.407,0.413,0.416,0.414,0.411,0.409,0.408,0.411,0.415,0.417,0.416,0.413,0.408,0.404,0.401,0.399,0.398,0.397,0.397,0.395,0.391,0.384,0.375,0.367,0.359,0.353,0.348,0.345,0.344,0.343,0.343,0.341,0.339,0.338,0.336,0.335,0.335,0.336,0.337,0.338,0.338,0.338,0.337,0.336,0.336,0.335,0.334,0.331,0.327,0.323,0.319,0.316,0.317,0.320,0.325,0.332,0.338,0.343,0.347,0.351,0.353,0.354,0.357,0.359,0.363,0.368,0.371,0.374,0.375,0.376,0.375,0.373,0.369,0.366,0.364,0.363,0.362,0.361,0.358,0.355,0.352,0.348,0.346,0.342,0.340,0.339,0.339,0.341,0.344,0.347,0.351,0.354,0.356,0.356,0.355,0.354,0.351,0.348,0.344,0.339,0.335,0.330,0.326,0.324,0.325,0.326,0.329,0.335,0.340,0.345,0.351,0.356,0.362,0.367,0.371,0.375,0.377,0.378,0.378,0.376,0.374,0.372,0.370,0.368,0.365,0.363,0.361,0.358,0.357,0.357,0.357,0.357,0.356,0.354,0.352,0.350,0.347,0.344,0.339,0.335,0.331,0.328,0.327,0.326,0.325,0.326,0.325,0.322,0.319,0.315,0.309,0.304,0.297,0.291,0.286,0.282,0.277,0.274,0.270,0.266,0.261,0.256,0.252,0.251,0.250,0.251,0.253,0.254,0.257,0.259,0.263,0.265,0.264,0.262,0.258,0.256,0.254,0.253,0.253,0.254,0.255,0.257,0.258,0.260,0.261,0.263,0.264,0.265,0.266,0.266,0.265,0.262,0.260,0.257,0.256,0.256,0.256,0.256,0.256,0.255,0.255,0.254,0.253,0.253,0.253,0.253,0.254,0.255,0.255,0.253,0.252,0.249,0.248,0.248,0.248,0.249,0.249,0.249,0.250,0.249,0.249,0.249,0.248,0.248,0.248,0.248,0.247,0.246,0.245,0.244,0.243,0.242,0.241,0.241,0.241,0.242,0.243,0.243,0.243,0.243,0.242,0.242,0.242,0.241,0.241,0.244,0.247,0.251,0.255,0.256,0.255,0.255,0.255,0.256,0.256,0.256,0.256,0.257,0.261,0.266,0.271,0.277,0.282,0.285,0.288,0.290,0.291,0.294,0.297,0.300,0.301,0.302,0.302,0.303,0.302,0.301,0.303,0.304,0.307,0.310,0.313,0.315,0.318,0.320,0.323,0.326,0.328,0.330,0.330,0.329,0.328,0.326,0.325,0.324,0.323,0.322,0.322,0.321,0.321,0.320,0.320,0.320,0.321,0.321,0.321,0.320,0.319,0.319,0.319,0.318,0.316,0.315,0.314,0.314,0.315,0.316,0.318,0.320,0.321,0.319,0.317,0.313,0.309,0.305,0.301,0.298,0.295,0.292,0.290,0.288,0.286,0.284,0.281,0.278,0.277,0.277,0.278,0.280,0.282,0.284,0.284,0.282,0.282,0.280,0.278,0.276,0.271,0.267,0.264,0.261,0.259,0.258,0.257,0.256,0.256,0.255,0.254,0.254,0.253,0.251,0.250,0.247,0.246,0.245,0.245,0.246,0.246,0.246,0.246,0.246,0.246,0.245,0.246,0.247,0.248,0.250,0.251,0.253,0.254,0.255,0.255,0.254,0.253,0.253,0.253,0.250,0.247,0.243,0.239,0.238,0.238,0.239,0.239,0.240,0.240,0.241,0.243,0.246,0.251,0.256,0.260,0.265,0.269,0.273,0.276,0.279,0.281,0.283,0.287,0.291,0.297,0.303,0.308,0.312,0.316,0.320,0.323,0.327,0.330,0.332,0.333,0.333,0.332,0.330,0.329,0.328,0.318,0.306,0.289,0.271,0.259,0.250,0.246,0.244,0.245,0.247,0.248,0.250,0.252,0.252,0.251,0.249,0.247,0.245,0.244,0.242,0.240,0.238,0.229,0.216,0.201,0.185,0.175,0.168,0.163,0.160,0.159,0.159,0.160,0.162,0.165,0.168,0.171,0.173,0.176,0.179,0.184,0.188,0.193,0.205,0.221,0.242,0.264,0.281,0.295,0.303,0.310,0.313,0.315,0.317,0.318,0.319,0.321,0.322,0.324,0.325,0.327,0.329,0.331,0.334,0.338,0.350,0.368,0.390,0.413,0.431,0.443,0.453,0.461,0.468,0.474,0.480,0.484,0.487,0.489,0.489,0.492,0.495,0.499,0.503,0.507,0.510,0.509,0.509,0.510,0.512,0.518,0.522,0.526,0.529,0.533,0.538,0.543,0.549,0.554,0.558,0.561,0.563,0.566,0.570,0.574,0.579,0.583,0.584,0.586,0.586,0.586,0.586,0.585,0.585,0.584,0.583,0.581,0.578,0.574,0.569,0.567,0.566,0.568,0.570,0.572,0.575,0.578,0.580,0.580,0.576,0.575,0.572,0.569,0.571,0.571,0.573,0.576,0.577,0.577,0.576,0.576,0.575,0.577,0.579,0.582,0.585,0.586,0.586,0.587,0.588,0.591,0.593,0.594,0.596,0.596,0.597,0.597,0.594,0.591,0.588,0.585,0.584,0.583,0.581,0.577,0.572,0.566,0.561,0.555,0.549,0.544,0.540,0.541,0.540,0.541,0.543,0.538,0.535,0.531,0.524,0.521,0.518,0.514,0.510,0.505,0.499,0.492,0.485,0.478,0.472,0.468,0.465,0.463,0.462,0.459,0.457,0.454,0.452,0.452,0.451,0.453,0.453,0.454,0.453,0.452,0.451,0.449,0.448,0.447,0.446,0.445,0.444,0.443,0.441,0.439,0.437,0.435,0.432,0.428,0.425,0.421,0.420,0.422,0.424,0.426,0.429,0.433,0.436,0.439,0.444,0.448,0.453,0.457,0.459,0.460,0.459,0.458,0.458,0.457,0.456,0.455,0.454,0.456,0.458,0.461,0.462,0.463,0.463,0.462,0.462,0.462,0.464,0.467,0.471,0.475,0.478,0.482,0.486,0.488,0.489,0.491,0.491,0.496,0.502,0.507,0.511,0.512,0.510,0.509,0.509,0.508,0.508,0.507,0.507,0.507,0.507,0.508,0.508,0.508,0.508,0.509,0.512,0.515,0.518,0.520,0.520,0.517,0.514,0.512,0.510,0.510,0.511,0.512,0.513,0.512,0.511,0.508,0.505,0.502,0.500,0.499,0.499,0.502,0.503,0.505,0.507,0.505,0.505,0.506,0.509,0.512,0.513,0.512,0.508,0.505,0.501,0.499,0.498,0.498,0.499,0.500,0.499,0.498,0.496,0.493,0.489,0.488,0.489,0.491,0.495,0.498,0.499,0.500,0.500,0.500,0.499,0.498,0.499,0.501,0.504,0.506,0.510,0.511,0.511,0.511,0.510,0.508,0.509,0.509,0.509,0.510,0.509,0.507,0.505,0.505,0.507,0.510,0.513,0.514,0.515,0.514,0.513,0.511,0.510,0.509,0.509,0.508,0.506,0.504,0.502,0.501,0.500,0.501,0.502,0.504,0.506,0.508,0.511,0.513,0.515,0.514,0.511,0.507,0.502,0.497,0.492,0.487,0.481,0.476,0.471,0.465,0.461,0.457,0.451,0.447,0.442,0.437,0.433,0.429,0.426,0.424,0.423,0.421,0.419,0.416,0.413,0.410,0.407,0.405,0.405,0.407,0.410,0.413,0.413,0.413,0.414,0.415,0.418,0.421,0.424,0.428,0.432,0.437,0.443,0.449,0.456,0.463,0.469,0.475,0.481,0.488,0.496,0.504,0.513,0.518,0.522,0.527,0.530,0.536,0.539,0.544,0.548,0.551,0.556,0.559,0.563,0.567,0.570,0.574,0.579,0.583,0.586,0.585,0.584,0.584,0.585,0.588,0.590,0.589,0.588,0.586,0.583,0.580,0.578,0.577,0.576,0.575,0.573,0.570,0.568,0.569,0.570,0.572,0.573,0.570,0.569,0.564,0.562,0.563,0.563,0.566,0.566,0.566,0.565,0.566,0.566,0.566,0.567,0.569,0.572,0.573,0.575,0.577,0.580,0.584,0.588,0.591,0.589,0.587,0.587,0.587,0.590,0.593,0.596,0.599,0.602,0.604,0.604,0.603,0.602,0.601,0.600,0.598,0.596,0.593,0.591,0.589,0.587,0.587,0.589,0.588,0.588,0.587,0.583,0.584,0.585,0.586,0.587,0.586,0.584,0.581,0.577,0.574,0.573,0.573,0.573,0.572,0.571,0.569,0.567,0.567,0.567,0.566,0.565,0.561,0.558,0.554,0.549,0.543,0.536,0.531,0.527,0.524,0.521,0.519,0.516,0.513,0.510,0.507,0.503,0.499,0.493,0.489,0.484,0.482,0.482,0.482,0.481,0.480,0.479,0.478,0.479,0.478,0.479,0.480,0.479,0.477,0.475,0.473,0.474,0.475,0.476,0.477,0.478,0.479,0.481,0.482,0.483,0.485,0.488,0.490,0.493,0.496,0.498,0.501,0.504,0.506,0.509,0.512,0.514,0.515,0.516,0.515,0.514,0.512,0.510,0.509,0.510,0.512,0.514,0.516,0.516,0.514,0.513,0.512,0.513,0.514,0.515,0.516,0.517,0.516,0.514,0.511,0.506,0.503,0.500,0.499,0.498,0.498,0.497,0.496,0.495,0.492,0.491,0.490,0.488,0.486,0.484,0.481,0.479,0.475,0.472,0.470,0.469,0.469,0.471,0.472,0.477,0.480,0.483,0.486,0.487,0.488,0.489,0.491,0.492,0.494,0.496,0.494,0.491,0.488,0.485,0.483,0.483,0.482,0.482,0.483,0.482,0.480,0.478,0.478,0.480,0.484,0.488,0.490,0.493,0.497,0.501,0.505,0.509,0.513,0.517,0.522,0.527,0.532,0.537,0.541,0.546,0.549,0.547,0.546,0.544,0.542,0.542,0.540,0.538,0.536,0.536,0.534,0.532,0.530,0.530,0.531,0.534,0.536,0.537,0.537,0.537,0.537,0.538,0.540,0.542,0.541,0.540,0.537,0.535,0.533,0.530,0.527,0.522,0.518,0.512,0.508,0.503,0.498,0.493,0.487,0.481,0.474,0.468,0.461,0.455,0.451,0.449,0.448,0.444,0.445,0.445,0.445,0.448,0.443,0.437,0.433,0.429,0.427,0.423,0.419,0.415,0.412,0.408,0.404,0.397,0.389,0.380,0.373,0.370,0.368,0.368,0.370,0.371,0.375,0.382,0.387,0.393,0.399,0.406,0.413,0.419,0.423,0.426,0.430,0.434,0.440,0.445,0.449,0.449,0.450,0.449,0.449,0.449,0.445,0.440,0.432,0.428,0.425,0.422,0.418,0.414,0.411,0.407,0.404,0.400,0.396,0.392,0.390,0.389,0.388,0.388,0.386,0.385,0.385,0.385,0.385,0.383,0.380,0.377,0.375,0.373,0.370,0.367,0.365,0.366,0.368,0.373,0.375,0.377,0.378,0.378,0.378,0.378,0.379,0.380,0.383,0.386,0.389,0.390,0.390,0.391,0.391,0.391,0.391,0.393,0.397,0.401,0.407,0.411,0.415,0.418,0.421,0.424,0.426,0.428,0.431,0.432,0.432,0.430,0.426,0.420,0.415,0.408,0.401,0.395,0.388,0.382,0.375,0.368,0.360,0.353,0.346,0.340,0.335,0.330,0.329,0.326,0.324,0.324,0.325,0.331,0.339,0.347,0.353,0.359,0.364,0.369,0.374,0.377,0.379,0.379,0.379,0.378,0.377,0.377,0.376,0.377,0.377,0.376,0.375,0.375,0.377,0.381,0.385,0.387,0.390,0.393,0.397,0.401,0.405,0.408,0.410,0.410,0.409,0.408,0.408,0.408,0.407,0.408,0.409,0.410,0.408,0.400,0.391,0.382,0.376,0.375,0.375,0.373,0.372,0.369,0.366,0.364,0.362,0.362,0.362,0.361,0.360,0.358,0.353,0.349,0.348,0.348,0.351,0.354,0.356,0.361,0.366,0.373,0.378,0.383,0.387,0.389,0.393,0.396,0.401,0.405,0.410,0.415,0.419,0.422,0.426,0.429,0.432,0.437,0.443,0.447,0.448,0.446,0.442,0.437,0.433,0.429,0.425,0.421,0.417,0.413,0.409,0.406,0.404,0.403,0.403,0.403,0.405,0.407,0.409,0.411,0.411,0.410,0.408,0.406,0.404,0.402,0.400,0.399,0.399,0.398,0.398,0.397,0.396,0.396,0.396,0.396,0.396,0.392,0.388,0.386,0.383,0.383,0.384,0.383,0.382,0.383,0.383,0.383,0.383,0.386,0.390,0.395,0.401,0.405,0.410,0.413,0.417,0.421,0.427,0.430,0.433,0.435,0.434,0.436,0.438,0.438,0.437,0.435,0.435,0.436,0.436,0.438,0.440,0.442,0.445,0.446,0.444,0.442,0.440,0.438,0.439,0.443,0.446,0.453,0.461,0.469,0.479,0.489,0.499,0.507,0.513,0.518,0.518,0.520,0.524,0.528,0.534,0.539,0.544,0.549,0.555,0.557,0.558,0.556,0.552,0.552,0.552,0.553,0.555,0.559,0.563,0.565,0.566,0.567,0.566,0.564,0.563,0.561,0.561,0.562,0.564,0.566,0.568,0.568,0.566,0.562,0.555,0.549,0.545,0.540,0.537,0.533,0.530,0.529,0.529,0.529,0.525,0.518,0.508,0.498,0.490,0.482,0.473,0.463,0.453,0.443,0.434,0.426,0.418,0.407,0.397,0.387,0.377,0.368,0.358,0.348,0.339,0.332,0.325,0.317,0.310,0.304,0.299,0.295,0.291,0.287,0.283,0.279,0.276,0.275,0.275,0.274,0.271,0.269,0.265,0.261,0.258,0.255,0.253,0.251,0.251,0.251,0.252,0.253,0.254,0.255,0.255,0.255,0.254,0.254,0.253,0.254,0.255,0.256,0.256,0.256,0.256,0.255,0.255,0.254,0.253,0.253,0.253,0.254,0.254,0.255,0.255,0.254,0.253,0.251,0.250,0.250,0.250,0.250,0.250,0.250,0.250,0.249,0.249,0.249,0.249,0.249,0.249,0.249,0.248,0.247,0.246,0.245,0.244,0.243,0.243,0.241,0.240,0.239,0.238,0.238,0.238,0.238,0.238,0.237,0.237,0.237,0.236,0.236,0.236,0.236,0.235,0.235,0.234,0.234,0.234,0.235,0.234,0.233,0.233,0.233,0.234,0.236,0.237,0.238,0.238,0.238,0.239,0.239,0.240,0.241,0.241,0.242,0.243,0.244,0.244,0.244,0.244,0.242,0.243,0.242,0.242,0.242,0.240,0.239,0.237,0.236,0.235,0.234,0.234,0.234,0.235,0.235,0.235,0.235,0.234,0.233,0.232,0.232,0.231,0.232,0.232,0.232,0.232,0.231,0.230,0.228,0.227,0.226,0.226,0.225,0.225,0.226,0.226,0.227,0.227,0.228,0.229,0.231,0.233,0.234,0.236,0.236,0.236,0.235,0.235,0.237,0.237,0.238,0.239,0.240,0.241,0.241,0.241,0.241,0.241,0.242,0.242,0.243,0.244,0.245,0.247,0.248,0.248,0.249,0.251,0.252,0.255,0.257,0.257,0.258,0.259,0.259,0.259,0.259,0.258,0.258,0.257,0.257,0.256,0.255,0.255,0.253,0.252,0.250,0.248,0.245,0.244,0.244,0.243,0.244,0.244,0.243,0.243,0.242,0.242,0.243,0.244,0.246,0.247,0.249,0.250,0.251,0.251,0.251,0.250,0.247,0.246,0.242,0.239,0.239,0.239,0.240,0.241,0.241,0.241,0.242,0.242,0.242,0.241,0.241,0.241,0.240,0.240,0.240,0.240,0.240,0.240,0.240,0.239,0.238,0.237,0.238,0.239,0.241,0.242,0.244,0.245,0.245,0.245,0.245,0.244,0.244,0.243,0.242,0.240,0.239,0.238,0.237,0.236,0.235,0.236,0.238,0.241,0.244,0.248,0.251,0.253,0.255,0.257,0.259,0.262,0.265,0.268,0.271,0.274,0.276,0.279,0.281,0.283,0.284,0.286,0.289,0.291,0.294,0.296,0.297,0.297,0.299,0.302,0.304,0.307,0.308,0.310,0.312,0.314,0.315,0.315,0.316,0.317,0.318,0.320,0.319,0.320,0.317,0.314,0.312,0.307,0.303,0.298,0.294,0.291,0.289,0.286,0.283,0.280,0.278,0.275,0.273,0.271,0.269,0.267,0.266,0.265,0.264,0.261,0.259,0.257,0.257,0.257,0.256,0.254,0.252,0.249,0.247,0.246,0.244,0.244,0.243,0.242,0.242,0.241,0.240,0.240,0.239,0.239,0.237,0.237,0.239,0.242,0.247,0.250,0.252,0.254,0.256,0.257,0.258,0.259,0.259,0.259,0.259,0.259,0.259,0.259,0.259,0.259,0.259,0.259,0.260,0.262,0.263,0.264,0.265,0.265,0.265,0.264,0.263,0.261,0.260,0.257,0.255,0.253,0.252,0.251,0.250,0.250,0.249,0.249,0.248,0.250,0.253,0.256,0.258,0.258,0.257,0.256,0.256,0.255,0.253,0.252,0.249,0.247,0.246,0.244,0.243,0.242,0.241,0.241,0.240,0.239,0.239,0.239,0.238,0.237,0.236,0.236,0.237,0.237,0.238,0.238,0.239,0.240,0.241,0.243,0.245,0.246,0.247,0.248,0.248,0.247,0.246,0.244,0.244,0.243,0.243,0.244,0.244,0.244,0.244,0.245,0.246,0.247,0.249,0.251,0.253,0.255,0.257,0.258,0.260,0.260,0.260,0.259,0.259,0.257,0.255,0.253,0.251,0.250,0.249,0.247,0.245,0.244,0.243,0.242,0.241,0.239,0.238,0.236,0.234,0.233,0.233,0.232,0.232,0.232,0.232,0.232,0.231,0.230,0.230,0.231,0.233,0.235,0.237,0.239,0.242,0.243,0.244,0.245,0.245,0.246,0.248,0.250,0.254,0.256,0.259,0.262,0.265,0.266,0.269,0.272,0.276,0.281,0.284,0.288,0.291,0.294,0.297,0.300,0.302,0.304,0.306,0.309,0.312,0.314,0.315,0.316,0.316,0.315,0.313,0.310,0.307,0.305,0.305,0.306,0.307,0.308,0.310,0.311,0.312,0.313,0.314,0.317,0.317,0.318,0.318,0.317,0.317,0.317,0.318,0.318,0.319,0.318,0.316,0.314,0.310,0.307,0.305,0.302,0.300,0.297,0.294,0.292,0.290,0.288,0.285,0.283,0.281,0.279,0.279,0.279,0.279,0.281,0.284,0.286,0.289,0.289,0.290,0.290,0.289,0.286,0.284,0.282,0.280,0.278,0.276,0.273,0.271,0.269,0.267,0.265,0.264,0.261,0.258,0.256,0.256,0.258,0.263,0.268,0.270,0.272,0.273,0.274,0.274,0.275,0.275,0.276,0.276,0.277,0.278,0.278,0.279,0.279,0.279,0.279,0.275,0.272,0.268,0.263,0.262,0.262,0.264,0.269,0.273,0.276,0.278,0.281,0.282,0.285,0.286,0.287,0.287,0.289,0.291,0.294,0.297,0.298,0.297,0.295,0.292,0.291,0.291,0.293,0.296,0.298,0.299,0.300,0.301,0.302,0.304,0.308,0.312,0.315,0.318,0.320,0.322,0.324,0.326,0.330,0.334,0.337,0.342,0.346,0.347,0.346,0.343,0.340,0.339,0.341,0.341,0.342,0.342,0.342,0.343,0.345,0.346,0.344,0.342,0.340,0.339,0.340,0.342,0.344,0.345,0.344,0.342,0.339,0.336,0.335,0.334,0.332,0.330,0.327,0.324,0.321,0.318,0.318,0.317,0.318,0.317,0.316,0.312,0.308,0.305,0.301,0.300,0.299,0.298,0.299,0.300,0.300,0.298,0.297,0.297,0.296,0.296,0.294,0.292,0.290,0.288,0.286,0.284,0.281,0.280,0.278,0.277,0.275,0.273,0.271,0.270,0.269,0.269,0.268,0.268,0.268,0.269,0.271,0.274,0.277,0.279,0.282,0.285,0.288,0.292,0.294,0.295,0.297,0.296,0.297,0.298,0.297,0.295,0.292,0.288,0.284,0.281,0.277,0.274,0.271,0.271,0.272,0.275,0.277,0.280,0.281,0.282,0.281,0.280,0.279,0.278,0.278,0.279,0.281,0.284,0.287,0.290,0.293,0.294,0.295,0.294,0.293,0.292,0.290,0.287,0.283,0.279,0.274,0.271,0.270,0.270,0.272,0.276,0.280,0.282,0.284,0.286,0.289,0.293,0.296,0.300,0.303,0.305,0.306,0.306,0.305,0.304,0.303,0.302,0.301,0.300,0.300,0.301,0.302,0.302,0.301,0.299,0.296,0.293,0.290,0.288,0.286,0.285,0.285,0.285,0.287,0.290,0.295,0.300,0.305,0.309,0.308,0.307,0.306,0.303,0.303,0.302,0.300,0.299,0.299,0.296,0.292,0.288,0.286,0.287,0.290,0.293,0.296,0.298,0.299,0.301,0.303,0.306,0.308,0.310,0.311,0.314,0.317,0.321,0.326,0.330,0.333,0.336,0.339,0.343,0.346,0.348,0.350,0.349,0.347,0.343,0.340,0.338,0.337,0.337,0.338,0.337,0.335,0.335,0.336,0.336,0.337,0.337,0.337,0.337,0.337,0.335,0.331,0.326,0.322,0.317,0.317,0.317,0.316,0.317,0.318,0.317,0.315,0.313,0.310,0.308,0.307,0.305,0.303,0.302,0.300,0.299,0.297,0.294,0.292,0.292,0.294,0.296,0.299,0.302,0.305,0.308,0.310,0.310,0.309,0.306,0.303,0.299,0.297,0.296,0.297,0.298,0.298,0.298,0.299,0.299,0.299,0.300,0.300,0.299,0.300,0.300,0.300,0.300,0.299,0.299,0.301,0.305,0.309,0.312,0.316,0.320,0.323,0.325,0.326,0.326,0.327,0.328,0.329,0.328,0.326,0.323,0.320,0.316,0.311,0.304,0.302,0.301,0.302,0.306,0.307,0.311,0.313,0.314,0.317,0.320,0.324,0.328,0.331,0.333,0.334,0.335,0.335,0.334,0.332,0.329,0.328,0.327,0.327,0.324,0.320,0.314,0.309,0.303,0.298,0.293,0.289,0.287,0.286,0.284,0.280,0.276,0.271,0.267,0.264,0.261,0.259,0.257,0.256,0.256,0.256,0.256,0.257,0.258,0.258,0.257,0.257,0.256,0.255,0.253,0.251,0.250,0.248,0.246,0.246,0.246,0.247,0.248,0.250,0.253,0.255,0.258,0.262,0.265,0.270,0.273,0.277,0.281,0.284,0.288,0.293,0.296,0.299,0.303,0.307,0.310,0.314,0.316,0.319,0.321,0.322,0.321,0.322,0.325,0.326,0.329,0.331,0.332,0.334,0.335,0.336,0.336,0.336,0.336,0.335,0.334,0.333,0.330,0.327,0.324,0.320,0.316,0.312,0.308,0.303,0.301,0.301,0.304,0.310,0.315,0.320,0.323,0.325,0.327,0.330,0.332,0.334,0.335,0.334,0.333,0.332,0.331,0.331,0.330,0.329,0.328,0.325,0.323,0.322,0.321,0.321,0.320,0.319,0.318,0.317,0.316,0.315,0.314,0.314,0.315,0.316,0.318,0.322,0.325,0.328,0.331,0.333,0.334,0.334,0.334,0.332,0.329,0.326,0.322,0.319,0.317,0.314,0.311,0.307,0.303,0.299,0.297,0.296,0.296,0.295,0.295,0.294,0.293,0.292,0.293,0.295,0.298,0.301,0.303,0.303,0.304,0.306,0.308,0.310,0.314,0.318,0.321,0.323,0.323,0.322,0.319,0.317,0.314,0.311,0.309,0.307,0.306,0.302,0.299,0.294,0.289,0.285,0.281,0.277,0.274,0.271,0.270,0.270,0.270,0.271,0.271,0.270,0.270,0.271,0.272,0.272,0.272,0.269,0.266,0.262,0.258,0.255,0.253,0.250,0.247,0.245,0.242,0.239,0.236,0.234,0.233,0.232,0.232,0.232,0.232,0.232,0.233,0.233,0.233,0.235,0.239,0.243,0.247,0.250,0.252,0.254,0.256,0.257,0.257,0.257,0.256,0.255,0.253,0.252,0.250,0.249,0.248,0.247,0.246,0.246,0.245,0.243,0.241,0.240,0.239,0.240,0.242,0.242,0.242,0.242,0.242,0.242,0.241,0.241,0.241,0.241,0.241,0.241,0.241,0.241,0.240,0.238,0.236,0.233,0.232,0.230,0.229,0.229,0.228,0.227,0.226,0.225,0.225,0.226,0.227,0.229,0.230,0.231,0.232,0.233,0.234,0.235,0.236,0.237,0.238,0.239,0.239,0.238,0.237,0.236,0.236,0.235,0.235,0.235,0.235,0.236,0.236,0.236,0.236,0.236,0.236,0.236,0.235,0.234,0.234,0.234,0.235,0.236,0.236,0.236,0.237,0.237,0.237,0.238,0.239,0.239,0.239,0.239,0.239,0.239,0.239,0.239,0.239,0.238,0.237,0.235,0.234,0.233,0.231,0.232,0.233,0.234,0.235,0.237,0.238,0.239,0.239,0.240,0.241,0.242,0.244,0.245,0.247,0.249,0.251,0.253,0.252,0.245,0.232,0.216,0.202,0.193,0.189,0.188,0.188,0.189,0.192,0.197,0.203,0.208,0.213,0.217,0.221,0.226,0.231,0.236,0.242,0.247,0.252,0.254,0.255,0.254,0.256,0.261,0.267,0.276,0.282,0.288,0.293,0.298,0.303,0.310,0.316,0.321,0.326,0.331,0.337,0.344,0.350,0.359,0.374,0.395,0.419,0.443,0.461,0.475,0.487,0.499,0.511,0.521,0.529,0.535,0.539,0.545,0.551,0.556,0.563,0.569,0.575,0.581,0.586,0.588,0.589,0.595,0.601,0.607,0.613,0.615,0.616,0.621,0.627,0.634,0.641,0.647,0.650,0.653,0.656,0.661,0.667,0.673,0.678,0.681,0.680,0.677,0.674,0.671,0.670,0.669,0.668,0.667,0.665,0.661,0.655,0.648,0.641,0.636,0.632,0.628,0.627,0.627,0.630,0.635,0.638,0.639,0.638,0.636,0.632,0.631,0.630,0.630,0.632,0.632,0.630,0.628,0.624,0.622,0.623,0.626,0.629,0.632,0.632,0.631,0.631,0.630,0.631,0.633,0.635,0.638,0.641,0.643,0.643,0.642,0.639,0.636,0.634,0.633,0.633,0.633,0.632,0.630,0.628,0.623,0.617,0.608,0.598,0.589,0.585,0.582,0.582,0.586,0.588,0.588,0.586,0.580,0.574,0.571,0.568,0.564,0.559,0.551,0.541,0.530,0.521,0.512,0.505,0.500,0.498,0.497,0.497,0.498,0.497,0.495,0.493,0.492,0.491,0.491,0.490,0.489,0.488,0.487,0.486,0.485,0.485,0.484,0.484,0.483,0.481,0.479,0.477,0.475,0.473,0.470,0.463,0.456,0.451,0.446,0.445,0.446,0.447,0.449,0.452,0.455,0.458,0.462,0.467,0.472,0.477,0.480,0.480,0.479,0.476,0.475,0.476,0.477,0.479,0.481,0.484,0.486,0.489,0.492,0.494,0.496,0.495,0.494,0.494,0.495,0.497,0.500,0.503,0.507,0.511,0.515,0.519,0.522,0.528,0.533,0.538,0.546,0.551,0.556,0.559,0.559,0.558,0.557,0.556,0.556,0.557,0.558,0.559,0.560,0.562,0.563,0.564,0.566,0.567,0.564,0.564,0.564,0.565,0.567,0.567,0.565,0.562,0.560,0.559,0.559,0.560,0.560,0.561,0.559,0.558,0.556,0.554,0.553,0.553,0.552,0.549,0.546,0.543,0.539,0.538,0.536,0.535,0.537,0.539,0.543,0.544,0.542,0.538,0.535,0.532,0.530,0.529,0.528,0.528,0.529,0.529,0.529,0.528,0.525,0.524,0.524,0.524,0.525,0.526,0.526,0.527,0.526,0.525,0.524,0.522,0.521,0.521,0.522,0.524,0.525,0.526,0.525,0.524,0.522,0.522,0.523,0.525,0.528,0.530,0.533,0.533,0.532,0.530,0.529,0.530,0.532,0.534,0.534,0.534,0.533,0.531,0.529,0.527,0.525,0.523,0.521,0.520,0.517,0.515,0.514,0.514,0.515,0.518,0.522,0.526,0.531,0.534,0.537,0.539,0.539,0.537,0.534,0.531,0.527,0.524,0.519,0.514,0.510,0.506,0.501,0.499,0.494,0.490,0.487,0.482,0.480,0.477,0.476,0.476,0.475,0.474,0.472,0.469,0.466,0.464,0.461,0.459,0.458,0.459,0.460,0.461,0.462,0.461,0.462,0.463,0.466,0.468,0.471,0.476,0.481,0.486,0.491,0.498,0.504,0.511,0.518,0.524,0.531,0.539,0.546,0.552,0.557,0.561,0.562,0.565,0.568,0.571,0.576,0.580,0.584,0.587,0.590,0.593,0.596,0.600,0.605,0.610,0.615,0.620,0.623,0.626,0.624,0.625,0.627,0.628,0.632,0.633,0.632,0.628,0.625,0.621,0.618,0.617,0.616,0.614,0.612,0.608,0.604,0.602,0.600,0.598,0.597,0.595,0.597,0.599,0.600,0.603,0.603,0.602,0.602,0.602,0.600,0.600,0.600,0.602,0.604,0.606,0.609,0.610,0.611,0.611,0.612,0.615,0.619,0.624,0.626,0.626,0.626,0.625,0.626,0.628,0.632,0.634,0.638,0.641,0.642,0.643,0.643,0.642,0.642,0.643,0.643,0.642,0.643,0.642,0.642,0.641,0.639,0.638,0.636,0.635,0.635,0.634,0.634,0.635,0.635,0.635,0.631,0.627,0.622,0.617,0.615,0.615,0.616,0.617,0.616,0.616,0.614,0.613,0.613,0.612,0.611,0.609,0.606,0.602,0.598,0.592,0.586,0.579,0.574,0.570,0.567,0.564,0.560,0.555,0.551,0.546,0.542,0.538,0.533,0.531,0.531,0.529,0.530,0.530,0.528,0.527,0.526,0.525,0.525,0.526,0.526,0.528,0.528,0.527,0.523,0.519,0.517,0.516,0.516,0.516,0.514,0.514,0.514,0.517,0.520,0.521,0.523,0.525,0.528,0.531,0.535,0.536,0.538,0.539,0.542,0.546,0.550,0.553,0.554,0.555,0.554,0.554,0.554,0.551,0.551,0.552,0.553,0.556,0.559,0.559,0.559,0.559,0.559,0.560,0.562,0.563,0.565,0.566,0.565,0.563,0.559,0.555,0.551,0.549,0.549,0.549,0.549,0.548,0.547,0.546,0.544,0.542,0.539,0.536,0.534,0.531,0.528,0.524,0.520,0.516,0.513,0.511,0.511,0.513,0.512,0.512,0.513,0.512,0.512,0.512,0.511,0.511,0.511,0.511,0.510,0.509,0.506,0.502,0.498,0.494,0.492,0.491,0.491,0.491,0.491,0.489,0.485,0.480,0.478,0.477,0.478,0.482,0.484,0.487,0.490,0.493,0.496,0.499,0.502,0.506,0.511,0.516,0.522,0.527,0.531,0.536,0.539,0.541,0.542,0.543,0.545,0.545,0.546,0.547,0.546,0.547,0.546,0.544,0.543,0.544,0.546,0.550,0.553,0.555,0.556,0.558,0.561,0.564,0.568,0.572,0.576,0.576,0.577,0.577,0.575,0.575,0.573,0.571,0.569,0.567,0.565,0.563,0.561,0.558,0.554,0.549,0.543,0.536,0.530,0.524,0.521,0.518,0.517,0.513,0.512,0.508,0.505,0.505,0.501,0.500,0.499,0.499,0.499,0.498,0.495,0.492,0.489,0.485,0.480,0.474,0.468,0.461,0.458,0.456,0.455,0.455,0.453,0.453,0.453,0.454,0.456,0.460,0.463,0.468,0.471,0.474,0.476,0.478,0.481,0.485,0.490,0.494,0.498,0.499,0.499,0.503,0.508,0.513,0.519,0.520,0.521,0.524,0.528,0.532,0.537,0.541,0.544,0.546,0.549,0.553,0.558,0.564,0.569,0.574,0.576,0.577,0.576,0.576,0.578,0.581,0.587,0.593,0.596,0.600,0.600,0.599,0.599,0.600,0.603,0.607,0.612,0.617,0.623,0.630,0.636,0.641,0.640,0.638,0.630,0.625,0.625,0.625,0.630,0.634,0.638,0.640,0.641,0.643,0.645,0.648,0.652,0.655,0.657,0.659,0.661,0.663,0.665,0.668,0.670,0.673,0.676,0.676,0.676,0.673,0.667,0.664,0.660,0.658,0.656,0.654,0.651,0.647,0.643,0.639,0.634,0.629,0.623,0.618,0.613,0.610,0.612,0.618,0.622,0.623,0.620,0.614,0.608,0.603,0.596,0.591,0.585,0.580,0.574,0.568,0.561,0.554,0.547,0.542,0.539,0.537,0.538,0.537,0.537,0.535,0.533,0.531,0.530,0.529,0.526,0.523,0.520,0.517,0.515,0.513,0.510,0.509,0.508,0.507,0.506,0.503,0.500,0.497,0.495,0.491,0.486,0.479,0.474,0.471,0.471,0.473,0.475,0.478,0.481,0.483,0.486,0.489,0.494,0.501,0.509,0.515,0.519,0.520,0.518,0.516,0.514,0.512,0.511,0.510,0.512,0.514,0.518,0.523,0.526,0.530,0.531,0.531,0.532,0.532,0.533,0.536,0.539,0.542,0.547,0.551,0.556,0.557,0.560,0.564,0.568,0.578,0.585,0.589,0.591,0.590,0.587,0.586,0.584,0.582,0.581,0.578,0.576,0.572,0.569,0.568,0.566,0.566,0.565,0.564,0.564,0.564,0.563,0.561,0.558,0.552,0.546,0.540,0.535,0.533,0.531,0.530,0.529,0.525,0.520,0.514,0.509,0.504,0.501,0.498,0.496,0.497,0.497,0.497,0.497,0.495,0.496,0.498,0.502,0.505,0.506,0.504,0.501,0.498,0.495,0.493,0.494,0.493,0.494,0.495,0.493,0.491,0.490,0.488,0.489,0.491,0.493,0.495,0.498,0.500,0.502,0.503,0.502,0.501,0.500,0.499,0.500,0.503,0.507,0.511,0.514,0.515,0.514,0.514,0.513,0.512,0.510,0.509,0.508,0.508,0.507,0.506,0.505,0.506,0.509,0.514,0.519,0.523,0.526,0.528,0.528,0.529,0.529,0.531,0.533,0.534,0.535,0.535,0.536,0.538,0.541,0.544,0.548,0.551,0.555,0.560,0.563,0.565,0.566,0.565,0.562,0.559,0.555,0.552,0.548,0.545,0.540,0.536,0.531,0.526,0.525,0.519,0.515,0.511,0.507,0.504,0.501,0.498,0.495,0.493,0.490,0.487,0.483,0.480,0.477,0.473,0.471,0.468,0.467,0.466,0.463,0.460,0.457,0.454,0.453,0.454,0.455,0.459,0.463,0.468,0.475,0.482,0.489,0.496,0.502,0.507,0.512,0.517,0.523,0.529,0.538,0.545,0.553,0.558,0.561,0.567,0.571,0.576,0.579,0.583,0.586,0.589,0.592,0.595,0.597,0.600,0.603,0.607,0.611,0.615,0.618,0.616,0.616,0.617,0.618,0.620,0.621,0.619,0.617,0.614,0.611,0.607,0.604,0.602,0.600,0.598,0.596,0.593,0.592,0.593,0.593,0.594,0.594,0.593,0.591,0.588,0.588,0.589,0.590,0.592,0.592,0.591,0.591,0.591,0.591,0.592,0.594,0.596,0.598,0.599,0.600,0.601,0.604,0.607,0.611,0.613,0.614,0.615,0.616,0.620,0.624,0.627,0.631,0.635,0.638,0.641,0.643,0.643,0.642,0.640,0.639,0.638,0.636,0.635,0.633,0.632,0.631,0.628,0.628,0.626,0.624,0.623,0.621,0.620,0.620,0.620,0.620,0.619,0.616,0.611,0.607,0.603,0.601,0.600,0.599,0.598,0.598,0.599,0.601,0.604,0.605,0.605,0.603,0.600,0.596,0.591,0.585,0.578,0.571,0.565,0.561,0.557,0.555,0.552,0.549,0.547,0.543,0.540,0.536,0.532,0.529,0.529,0.526,0.526,0.526,0.525,0.525,0.524,0.523,0.522,0.522,0.521,0.522,0.523,0.523,0.522,0.520,0.518,0.518,0.518,0.517,0.515,0.512,0.509,0.508,0.508,0.508,0.509,0.511,0.513,0.515,0.518,0.520,0.523,0.525,0.528,0.531,0.534,0.535,0.536,0.535,0.534,0.534,0.535,0.534,0.533,0.531,0.530,0.532,0.534,0.535,0.534,0.533,0.533,0.535,0.538,0.540,0.542,0.544,0.544,0.543,0.539,0.535,0.531,0.528,0.529,0.529,0.531,0.532,0.532,0.532,0.531,0.529,0.527,0.525,0.522,0.520,0.517,0.515,0.512,0.509,0.507,0.506,0.507,0.510,0.510,0.511,0.511,0.514,0.519,0.523,0.526,0.528,0.529,0.533,0.536,0.542,0.548,0.555,0.563,0.569,0.574,0.578,0.581,0.584,0.585,0.585,0.585,0.588,0.599,0.611,0.625,0.636,0.642,0.646,0.650,0.653,0.656,0.666,0.682,0.705,0.731,0.754,0.774,0.788,0.800,0.807,0.809,0.805,0.808,0.811,0.821,0.832,0.838,0.844,0.843,0.844,0.841,0.838,0.836,0.843,0.856,0.873,0.897,0.915,0.928,0.940,0.947,0.953,0.959,0.961,0.959,0.957,0.958,0.962,0.971,0.979,0.985,0.992,0.996,0.999,1.000,0.999,0.996,0.991,0.983,0.968,0.954,0.939,0.929,0.922,0.923,0.915,0.910,0.897,0.882,0.874,0.862,0.859,0.852,0.849,0.846,0.840,0.824,0.800,0.771,0.738,0.712,0.693,0.676,0.666,0.656,0.647,0.644,0.640,0.631,0.619,0.603,0.587,0.579,0.577,0.575,0.578,0.581,0.579,0.573,0.561,0.548,0.542,0.545,0.556,0.568,0.580,0.589,0.593,0.597,0.601,0.603,0.610,0.613,0.615,0.614,0.614,0.614,0.614,0.615,0.614,0.614,0.612,0.611,0.609,0.607,0.606,0.604,0.603,0.601,0.599,0.598,0.598,0.598,0.597,0.596,0.594,0.592,0.590,0.586,0.585,0.582,0.580,0.580,0.579,0.580,0.580,0.581,0.582,0.582,0.583,0.583,0.582,0.578,0.574,0.571,0.566,0.565,0.563,0.562,0.561,0.562,0.564,0.568,0.574,0.581,0.587,0.591,0.595,0.598,0.601,0.604,0.605,0.604,0.603,0.603,0.604,0.605,0.606,0.603,0.597,0.591,0.584,0.576,0.569,0.562,0.555,0.548,0.540,0.531,0.522,0.512,0.504,0.497,0.491,0.488,0.488,0.491,0.492,0.495,0.497,0.499,0.502,0.505,0.505,0.504,0.501,0.496,0.490,0.486,0.483,0.481,0.479,0.478,0.478,0.479,0.479,0.480,0.478,0.475,0.472,0.469,0.468,0.467,0.466,0.465,0.465,0.465,0.466,0.467,0.469,0.471,0.472,0.474,0.475,0.476,0.477,0.475,0.476,0.474,0.469,0.467,0.461,0.456,0.455,0.452,0.450,0.449,0.448,0.447,0.448,0.448,0.447,0.448,0.448,0.447,0.446,0.444,0.441,0.438,0.436,0.435,0.436,0.438,0.442,0.447,0.454,0.463,0.472,0.479,0.485,0.489,0.493,0.497,0.501,0.506,0.511,0.516,0.523,0.529,0.535,0.540,0.546,0.552,0.559,0.566,0.570,0.573,0.572,0.571,0.570,0.568,0.567,0.564,0.562,0.560,0.557,0.555,0.553,0.551,0.551,0.550,0.550,0.551,0.554,0.558,0.564,0.569,0.573,0.573,0.573,0.572,0.574,0.576,0.580,0.583,0.585,0.585,0.585,0.584,0.582,0.580,0.577,0.573,0.569,0.567,0.565,0.562,0.561,0.560,0.560,0.563,0.565,0.568,0.569,0.570,0.572,0.573,0.574,0.576,0.577,0.578,0.580,0.581,0.583,0.586,0.586,0.586,0.583,0.578,0.572,0.565,0.559,0.553,0.548,0.541,0.534,0.526,0.519,0.513,0.507,0.504,0.501,0.498,0.496,0.493,0.492,0.492,0.489,0.487,0.486,0.486,0.488,0.490,0.491,0.492,0.493,0.494,0.494,0.494,0.495,0.496,0.499,0.502,0.504,0.505,0.507,0.509,0.508,0.508,0.506,0.504,0.503,0.504,0.505,0.506,0.507,0.507,0.507,0.508,0.509,0.509,0.509,0.508,0.506,0.503,0.499,0.495,0.491,0.487,0.485,0.483,0.483,0.485,0.485,0.485,0.486,0.485,0.486,0.485,0.486,0.488,0.491,0.492,0.493,0.493,0.493,0.494,0.495,0.495,0.495,0.498,0.500,0.502,0.507,0.510,0.513,0.519,0.524,0.530,0.537,0.543,0.550,0.558,0.566,0.574,0.582,0.590,0.599,0.609,0.618,0.628,0.637,0.646,0.651,0.656,0.659,0.661,0.663,0.663,0.664,0.662,0.661,0.659,0.657,0.655,0.653,0.652,0.650,0.648,0.646,0.644,0.643,0.641,0.638,0.635,0.634,0.633,0.633,0.634,0.634,0.636,0.639,0.643,0.645,0.646,0.644,0.642,0.640,0.639,0.640,0.641,0.640,0.641,0.641,0.642,0.643,0.642,0.638,0.635,0.634,0.633,0.633,0.633,0.632,0.632,0.634,0.635,0.637,0.640,0.642,0.644,0.646,0.647,0.649,0.650,0.651,0.650,0.649,0.646,0.643,0.641,0.638,0.633,0.625,0.617,0.606,0.598,0.591,0.584,0.580,0.574,0.569,0.562,0.555,0.548,0.541,0.534,0.528,0.520,0.513,0.510,0.508,0.506,0.507,0.507,0.508,0.509,0.510,0.509,0.508,0.507,0.506,0.506,0.506,0.507,0.507,0.506,0.506,0.506,0.506,0.507,0.510,0.511,0.512,0.512,0.510,0.509,0.507,0.505,0.502,0.498,0.495,0.494,0.493,0.493,0.492,0.491,0.491,0.490,0.489,0.488,0.487,0.488,0.490,0.489,0.488,0.485,0.480,0.478,0.476,0.475,0.474,0.473,0.471,0.469,0.466,0.464,0.461,0.459,0.457,0.456,0.455,0.452,0.448,0.442,0.438,0.439,0.441,0.446,0.452,0.457,0.464,0.472,0.480,0.487,0.492,0.495,0.497,0.499,0.502,0.506,0.509,0.512,0.515,0.518,0.521,0.522,0.521,0.522,0.521,0.520,0.519,0.518,0.517,0.515,0.514,0.514,0.513,0.512,0.511,0.509,0.508,0.506,0.504,0.502,0.501,0.501,0.504,0.508,0.513,0.517,0.520,0.522,0.524,0.525,0.527,0.530,0.532,0.535,0.538,0.542,0.544,0.544,0.544,0.545,0.545,0.545,0.544,0.544,0.544,0.546,0.551,0.555,0.558,0.561,0.561,0.562,0.563,0.562,0.559,0.556,0.551,0.545,0.540,0.535,0.531,0.526,0.522,0.517,0.505,0.487,0.463,0.435,0.413,0.395,0.380,0.367,0.354,0.341,0.330,0.318,0.306,0.295,0.284,0.276,0.268,0.260,0.251,0.243,0.234,0.218,0.200,0.175,0.150,0.129,0.112,0.102,0.094,0.091,0.089,0.085,0.083,0.081,0.081,0.082,0.085,0.088,0.092,0.096,0.100,0.103,0.105,0.106,0.107,0.107,0.107,0.107,0.107,0.107,0.108,0.109,0.110,0.110,0.111,0.110,0.110,0.109,0.108,0.108,0.109,0.110,0.111,0.112,0.113,0.114,0.115,0.116,0.116,0.116,0.115,0.115,0.115,0.115,0.115,0.115,0.116,0.117,0.117,0.116,0.113,0.110,0.106,0.102,0.099,0.095,0.090,0.085,0.081,0.078,0.075,0.072,0.070,0.068,0.065,0.062,0.059,0.057,0.054,0.052,0.049,0.047,0.045,0.043,0.040,0.038,0.035,0.033,0.031,0.028,0.025,0.022,0.020,0.018,0.017,0.015,0.013,0.010,0.008,0.007,0.005,0.003,0.002,0.001,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.007,0.014,0.021,0.028,0.036,0.043,0.051,0.058,0.065,0.073,0.080,0.088,0.095,0.102,0.110,0.117,0.124,0.132,0.139,0.146,0.153,0.160,0.167,0.173,0.180,0.187,0.194,0.201,0.208,0.215,0.221,0.228,0.235,0.242,0.249,0.256,0.263,0.270,0.277,0.284,0.291]")

		audio(id="audio_player")

		//- Modal for slideshow sharing
		+slide_modal(slide_uri, slide_remove_page)