html
	head
		// Base head
		include ../base-head.pug

		title Dee Jay privacy

		// Css
		link(rel="stylesheet", type="text/css", href="/css/privacy.css")

	body
		div.page-wrap
		
			include ../header.pug
			
			// Content
			div.container
				div.row
					div.col-md-8.col-md-offset-2
						include ../privacy-policy.pug
						
		include ../footer.pug
