//- @param owner_fb_id
//- @param slide_id

html
	head
		// Base head
		include ../base-head.pug

		title Slide configurations

		// Custom Js
		script(src="/js/remove/main.js", type="text/babel")

		// Css
		link(rel="stylesheet", type="text/css", href="/css/remove.css")

	body
		div.page-wrap
		
			include ../header.pug
			
			// Content
			div.container
				div.row
					div.col-md-8.col-md-offset-2
						div#react-root-remove

		include ../footer.pug
		input(type="hidden", name="owner-fb-id", value=owner_fb_id)
		input(type="hidden", name="slide-id", value=slide_id)